openapi: 3.0.1
info:
  title: NCBI Datasets API
  version: v2alpha
  description: '### NCBI Datasets is a resource that lets you easily gather data from
      NCBI.

      The Datasets version 2 API is still in alpha, and we''re updating it often to add new functionality,
      iron out bugs and enhance usability.

      For some larger downloads, you may want to download a [dehydrated bag](https://www.ncbi.nlm.nih.gov/datasets/docs/v2/how-tos/genomes/large-download/),
      and retrieve the individual data files at a later time.

    '
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v2alpha
tags:
- name: Genome
  description: '#### Options to explore, summarize and download assembled genomes,
    including the associated sequence, metadata and annotation.

    These genome services allow you to explore [assembled genomes](https://www.ncbi.nlm.nih.gov/datasets/docs/v2/reference-docs/gca-and-gcf-explained/).  For
    a set of genomes of interest, identified by either assembly accession or taxonomic
    subtree, you can generate a summary, determine the package size, and download.

    '
- name: Gene
  description: '#### Options to explore, summarize and download sequences and metadata
    for genes and their associated transcripts and proteins.

    These gene services allow you explore [NCBI Gene](https://www.ncbi.nlm.nih.gov/gene/),
    and for genes of interest, identified by either gene-id, symbol or RefSeq sequence
    accession, download a data package including metadata (tabular and [JSON Lines](https://jsonlines.org/)
    formats), transcript and protein sequence in FASTA format.

    '
- name: Prokaryote
  description: '#### Options to explore, summarize and download sequences and metadata
    for prokaryote genes and their associated proteins.

    These gene services allow you to explore prokaryotic gene data by RefSeq protein
    sequence accession and download a data package including metadata for the gene
    including all genomic annotations as [JSON Lines](https://jsonlines.org/) format,
    gene and protein sequences in FASTA format.

    '
- name: Virus
  description: '#### Get metadata or a zip archive containing a virus genome
    or coronavirus protein dataset.

    The following files are optionally available for virus genome and/or protein
    datasets:

    * genomic.fna (genomic sequences in FASTA format)

    * cds.fna (nucleotide coding sequences in FASTA format)

    * protein.faa (protein sequences in FASTA format)

    * annotation_report.jsonl (annotation report in [JSON Lines](https://jsonlines.org/) format)

    * biosample_report.jsonl (biosample report in [JSON Lines](https://jsonlines.org/) format)


    The following files are always included in coronavirus genome and protein datasets:

    * data_report.jsonl (data report with viral metadata in JSON lines format)

    * virus_dataset.md (README containing details on sequence file data content and
    other information)

    * dataset_catalog.json (a list of files and file types included in the dataset)


    You may also request a tab-delimited table of metadata that describes the available
    virus genome and protein data.

    Virus genome datasets are available for all viruses, including SARS-CoV-2.
    Various parameters may be used for filtering and specifying the contents of the genome dataset.

    Protein datasets are available for SARS-CoV-2 only.
    '

- name: Version
  description: "#### Retrieve the current version of all services.  \nServices follow\
    \ [Semantic Versioning 2.0.0 Schema](https://semver.org/spec/v2.0.0.html).\n"


- name: Taxonomy
  description: '#### Options to explore taxonomic metadata and relationships.

    These taxonomic services allow you to browse taxonomic metadata in addition to retrieving
    parent lineages and filtered sets of child nodes for any given set of taxonomic identifiers.

    '

externalDocs:
  description: Interactively explore genome assembly datasets
  url: https://www.ncbi.nlm.nih.gov/datasets/genomes/
security:
- ApiKeyAuthHeader: []
paths:
  /genome/accession/{accessions}/download_summary:
    get:
      summary: Preview genome dataset download
      description: 'Get a download summary by accession in a JSON output format.'
      tags:
        - Genome
      operationId: genome_download_summary
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.40
            summary: Human
      - name: chromosomes
        description: 'The default setting is all chromosome. Specify individual chromosome by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like their own chromosome (''Un''). The filter only applies to fasta sequence.'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2AnnotationForAssemblyType'
        examples:
          example-0:
            value:
              - GENOME_FASTA
              - PROT_FASTA
              - RNA_FASTA
            summary: Genomic, Transcript & Protein Sequence
          example-1:
            value:
              - GENOME_GFF
              - GENOME_GBFF
              - GENOME_GTF
              - PROT_FASTA
              - RNA_FASTA
              - CDS_FASTA, SEQUENCE_REPORT
            summary: All
  /genome/download_summary:
    post:
      summary: Preview genome dataset download by POST
      description: 'The ''GET'' version of download summary is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: genome_download_summary_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetRequest'
            example:
              accessions:
              - GCF_000001405.40
  /genome/accession/{accessions}/dataset_report:
    get:
      summary: Get dataset reports by accessions
      description: 'Get dataset reports by accessions.  By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Genome
      operationId: genome_dataset_report
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.40
            summary: Human
      - name: filters.reference_only
        description: 'If true, only return reference and representative (GCF_ and GCA_) genome assemblies.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference & representative genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
          default: all
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
          default: current
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2015
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2021
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value: GRCh38
            summary: GRCh38
          example-2:
            value: C57BL/6J
            summary: C57BL/6J
      - name: chromosomes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value: assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /genome/taxon/{taxons}/dataset_report:
    get:
      summary: Get dataset reports by taxons
      description: 'Get dataset reports by taxons.  By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Genome
      operationId: genome_dataset_reports_by_taxon
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxons
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - chimpanzee
              - eastern gorilla
            summary: Common Names
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: filters.reference_only
        description: 'If true, only return reference and representative (GCF_ and GCA_) genome assemblies.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference & representative genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
          default: all
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
          default: current
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2015
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2021
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value: GRCh38
            summary: GRCh38
          example-2:
            value: C57BL/6J
            summary: C57BL/6J
      - name: chromosomes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value: assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /genome/bioproject/{bioprojects}/dataset_report:
    get:
      summary: Get dataset reports by bioproject
      description: 'Get dataset reports by bioprojects.  By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Genome
      operationId: genome_dataset_reports_by_bioproject
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: bioprojects
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: PRJNA489243
            summary: Vertebrate Genomes Project
          example-1:
            value: PRJNA31257
            summary: Human Genome Project
      - name: filters.reference_only
        description: 'If true, only return reference and representative (GCF_ and GCA_) genome assemblies.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference & representative genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
          default: all
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
          default: current
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2015
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2021
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value: GRCh38
            summary: GRCh38
          example-2:
            value: C57BL/6J
            summary: C57BL/6J
      - name: chromosomes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value: assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /genome/dataset_report:
    post:
      summary: Get dataset reports by accessions
      description: 'Get a dataset report by accession.  By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Genome
      operationId: genome_dataset_report_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetReportsRequest'
  /genome/accession/{accession}/revision_history:
    get:
      summary: Get revision history for assembly by accession
      description: 'Get revision history for assembly by accession'
      tags:
        - Genome
      operationId: assembly_revision_history_by_get
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyRevisionHistory'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accession
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: GCF_000001405.40
            summary: Human
  /genome/accession/{accession}/sequence_reports:
    get:
      summary: Get sequence reports by accessions
      description: 'Get a sequence report by accession.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_sequence_report
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            text/tab-separated-values:
              schema:
                type: string
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accession
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: GCF_000001635.27
            summary: Mouse
          example-1:
            value: GCF_000001405.40
            summary: Human
      - name: chromosomes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: role_filters
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assembled-molecule
              - unlocalized-scaffold
              - unplaced-scaffold
            summary: All types of sequence
          example-1:
            value: assembled-molecule
            summary: Only assembled molecules
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - accession
              - chr-name
            summary: Genome Accession and Chromosome Name
          example-1:
            value: ucsc-style-name
            summary: UCSC Name
      - name: page_size
        description: 'The maximum number of genome assemblies to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `GetSequenceReports` call with more than `page_size` results. Use this token, along with the previous `AssemblyMetadataRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /genome/sequence_reports:
    post:
      summary: Get sequence reports by accessions
      description: 'Get a sequence report by accession.  By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Genome
      operationId: genome_sequence_report_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            text/tab-separated-values:
              schema:
                type: string
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblySequenceReportsRequest'
  /genome/accession/{accessions}/links:
    get:
      summary: Get assembly links by accessions
      description: 'Get links to available assembly resources by accessions.'
      tags:
        - Genome
      operationId: genome_links_by_accession
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyLinksReply'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions, limited to 1000'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.40
            summary: Human
  /genome/accession/{accessions}/download:
    get:
      summary: Get a genome dataset by accession
      description: 'Download a genome dataset including fasta sequence, annotation and a detailed data report by accession.'
      tags:
        - Genome
      operationId: download_assembly_package
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.40
            summary: Human
      - name: chromosomes
        description: 'The default setting is all chromosome. Specify individual chromosome by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like their own chromosome (''Un''). The filter only applies to fasta sequence.'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2AnnotationForAssemblyType'
        examples:
          example-0:
            value:
              - GENOME_FASTA
              - PROT_FASTA
              - RNA_FASTA
            summary: Genomic, Transcript & Protein Sequence
          example-1:
            value:
              - GENOME_GFF
              - GENOME_GBFF
              - GENOME_GTF
              - PROT_FASTA
              - RNA_FASTA
              - CDS_FASTA, SEQUENCE_REPORT
            summary: All
      - name: hydrated
        description: 'Set to DATA_REPORT_ONLY, to only retrieve data-reports.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetRequestResolution'
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /genome/download:
    post:
      summary: Get a genome dataset by post
      description: 'The ''GET'' version of download is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: download_assembly_package_post
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetRequest'
            example:
              accessions:
              - GCF_000001405.40
      parameters:
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /gene/id/{gene_ids}/download:
    get:
      summary: Get a gene dataset by gene ID
      description: 'Get a gene dataset including gene, transcript and protein fasta sequence, annotation and metadata by gene ID.'
      tags:
        - Gene
      operationId: download_gene_package
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_ids
        description: 'NCBI gene ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value: 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2Fasta'
      - name: fasta_filter
        description: 'Limit the FASTA sequences in the datasets package to these transcript and protein accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - gene-id
              - gene-type
              - description
            summary: GeneID, type and description
          example-1:
            value: gene-id
            summary: Just GeneID
      - name: aux_report
        description: 'list additional reports to include with download. Data report is included by default.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2GeneDatasetRequestGeneDatasetReportType'
        examples:
          example-0:
            value: PRODUCT_REPORT
            summary: Select additional report types to include with download. The base data report will always be included.
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /gene/download:
    post:
      summary: Get a gene dataset by POST
      description: 'Get a gene dataset including gene, transcript and protein fasta sequence, annotation and metadata by POST.'
      tags:
        - Gene
      operationId: download_gene_package_post
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2GeneDatasetRequest'
            example:
              gene_ids:
              - 59067
              - 50615
      parameters:
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /protein/accession/{accessions}/download:
    get:
      summary: Get a prokaryote gene dataset by RefSeq protein accession
      description: 'Get a prokaryote gene dataset including gene and protein fasta sequence, annotation and metadata by prokaryote protein accession.'
      tags:
        - Prokaryote
      operationId: download_prokaryote_gene_package
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'WP prokaryote protein accession'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: WP_015878339.1
            summary: DNA-deoxyinosine glycosylase
          example-1:
            value: WP_001040085.1
            summary: type II CRISPR RNA-guided endonuclease Cas9
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2Fasta'
        examples:
          example-0:
            value: FASTA_GENE
            summary: Gene range FASTA
          example-1:
            value:
              - FASTA_RNA
              - FASTA_PROTEIN
            summary: Transcript & protein sequence FASTA
          example-2:
            value:
              - FASTA_GENE
              - FASTA_RNA
              - FASTA_PROTEIN
            summary: All annotation
      - name: gene_flank_config.length
        in: query
        required: false
        schema:
          type: integer
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank When specified, return data from this taxon and its subtree'
        in: query
        required: false
        schema:
          type: string
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /protein/accession/download:
    post:
      summary: Get a prokaryote gene dataset by RefSeq protein accession by POST
      description: 'Get a prokaryote gene dataset including gene and protein fasta sequence, annotation and metadata by prokaryote protein accession by POST.'
      tags:
        - Prokaryote
      operationId: download_prokaryote_gene_package_post
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2ProkaryoteGeneRequest'
            example:
              accessions:
              - WP_000000001.1
              - WP_000000002.1
      parameters:
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /genome/accession/{accessions}/check:
    get:
      summary: Check the validity of genome accessions
      description: 'The ''GET'' version of check is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: check_assembly_availability
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyDatasetAvailability'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.40
            summary: Human
  /genome/check:
    post:
      summary: Check the validity of many genome accessions in a single request
      description: 'The ''GET'' version of check is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: check_assembly_availability_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyDatasetAvailability'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetRequest'
            example:
              accessions:
              - GCF_000001405.40
  /version:
    get:
      summary: Retrieve service version
      description: 'Retrieve the latest version of the Datasets services.'
      tags:
        - Version
      operationId: version
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2VersionReply'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
  /gene/id/{gene_ids}:
    get:
      summary: Get gene reports by GeneID
      description: 'Get a gene summary by GeneID. By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Gene
      operationId: gene_reports_by_id
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsGeneDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2GeneDatasetReportsRequestContentType'
      - name: gene_ids
        description: 'NCBI gene ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value: 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - gene-id
              - gene-type
              - description
            summary: GeneID, type and description
          example-1:
            value: gene-id
            summary: Just GeneID
      - name: page_size
        description: 'The maximum number of gene reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /gene/accession/{accessions}:
    get:
      summary: Get gene metadata by RefSeq Accession
      description: 'Get a gene summary by RefSeq Accession. By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Gene
      operationId: gene_metadata_by_accession
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsGeneDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2GeneDatasetReportsRequestContentType'
      - name: accessions
        description: 'RNA or Protein accessions.'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - NM_021803.4
              - NM_181078.3
            summary: RefSeq transcripts
          example-1:
            value:
              - NP_068575.1
              - NP_851564.1
            summary: RefSeq proteins
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - gene-id
              - gene-type
              - description
            summary: GeneID, type and description
          example-1:
            value: gene-id
            summary: Just GeneID
      - name: page_size
        description: 'The maximum number of gene reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /gene/symbol/{symbols}/taxon/{taxon}:
    get:
      summary: Get gene metadata by gene symbol
      description: 'Get a gene summary by by gene symbol. By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Gene
      operationId: gene_metadata_by_tax_and_symbol
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsGeneDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2GeneDatasetReportsRequestContentType'
      - name: symbols
        description: 'Gene symbol'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: GNAS
            summary: GNAS
      - name: taxon
        description: 'Taxon for provided gene symbol'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - gene-id
              - gene-type
              - description
            summary: GeneID, type and description
          example-1:
            value: gene-id
            summary: Just GeneID
      - name: page_size
        description: 'The maximum number of gene reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /gene/taxon/{taxon}:
    get:
      summary: Get gene reports by taxonomic identifier
      description: 'Get a gene summary for a specified NCBI Taxonomy ID or name (common or scientific). By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Gene
      operationId: gene_reports_by_taxon
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsGeneDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2GeneDatasetReportsRequestContentType'
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) that the genes are annotated at  end oneof }'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - gene-id
              - gene-type
              - description
            summary: GeneID, type and description
          example-1:
            value: gene-id
            summary: Just GeneID
      - name: page_size
        description: 'The maximum number of gene reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: query
        description: 'text search within gene symbol, aliases, name, and protein name'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: A2M immunoglobulin
            summary: 
      - name: types
        description: 'Gene types to filter'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2GeneType'
        examples:
          example-0:
            value: PROTEIN_CODING
            summary: Only protein coding genes
  /gene:
    post:
      summary: Get gene metadata as JSON
      description: 'Get a gene summary. By default, in paged JSON format, but also available as tabular (accept: x-tabular) or json-lines (accept: x-jsonlines)'
      tags:
        - Gene
      operationId: gene_metadata_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsGeneDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2GeneDatasetReportsRequest'
            example:
              gene_ids:
              - 59067
              - 50615
  /gene/id/{gene_ids}/download_summary:
    get:
      summary: Get gene download summary by GeneID
      description: 'Get a download summary by GeneID in a JSON output format.'
      tags:
        - Gene
      operationId: gene_download_summary_by_id
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_ids
        description: 'NCBI gene ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value: 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2Fasta'
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2GeneDatasetRequestContentType'
      - name: fasta_filter
        description: 'Limit the FASTA sequences in the datasets package to these transcript and protein accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - gene-id
              - gene-type
              - description
            summary: GeneID, type and description
          example-1:
            value: gene-id
            summary: Just GeneID
      - name: aux_report
        description: 'list additional reports to include with download. Data report is included by default.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2GeneDatasetRequestGeneDatasetReportType'
        examples:
          example-0:
            value: PRODUCT_REPORT
            summary: Select additional report types to include with download. The base data report will always be included.
  /gene/download_summary:
    post:
      summary: Get gene download summary
      description: 'Get gene download summary in a JSON output format.'
      tags:
        - Gene
      operationId: gene_download_summary_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2GeneDatasetRequest'
            example:
              gene_ids:
              - 59067
              - 50615
  /gene/taxon/{taxon}/counts:
    get:
      summary: Get gene counts by taxonomic identifier
      description: 'Get gene counts for a specified NCBI Taxonomy ID or name (common or scientific) in JSON format.'
      tags:
        - Gene
      operationId: gene_counts_for_taxon
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GeneCountsByTaxonReply'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        description: 'Taxon for provided gene symbol'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
  /gene/taxon/counts:
    post:
      summary: Get gene counts by taxonomic identifier
      description: 'Get gene counts for a specified NCBI Taxonomy ID or name (common or scientific) in JSON format.'
      tags:
        - Gene
      operationId: gene_counts_for_taxon_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GeneCountsByTaxonReply'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2GeneCountsByTaxonRequest'
  /gene/id/{gene_id}/orthologs:
    get:
      summary: Get gene orthologs by gene ID
      description: 'Get a gene summary for an ortholog set by gene ID in a JSON output format.'
      tags:
        - Gene
      operationId: gene_orthologs_by_id
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsGeneDataReportPage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_id
        in: path
        required: true
        schema:
          type: integer
        examples:
          example-0:
            value: 2778
            summary: GNAS
          example-1:
            value: 2
            summary: A2M
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2OrthologRequestContentType'
      - name: taxon_filter
        description: 'Filter genes by taxa'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 9606
              - 10090
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - human
              - house mouse
            summary: Common Name
          example-2:
            value:
              - homo sapiens
              - mus musculus
            summary: Scientific Name
      - name: page_size
        description: 'The maximum number of gene reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `OrthologRequest` call with more than `page_size` results. Use this token, along with the previous `OrthologRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /gene/id/{gene_ids}/links:
    get:
      summary: Get gene links by gene ID
      description: 'Get links to available gene resources by gene ID.'
      tags:
        - Gene
      operationId: gene_links_by_id
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GeneLinksReply'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_ids
        description: 'NCBI gene ids, limited to 1000 ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value: 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
  /gene/taxon/{taxon}/annotation/{annotation_name}/chromosome_summary:
    get:
      summary: Get summary of chromosomes for a particular taxon's annotation
      description: 'Get summary of chromosomes for a particular taxon''s annotation.'
      tags:
        - Gene
      operationId: gene_chromosome_summary
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GeneChromosomeSummaryReply'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: annotation_name
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: Annotation Release 109.20211119
            summary: Human annotation release
  /taxonomy/taxon/{taxons}:
    get:
      summary: Use taxonomic identifiers to get taxonomic metadata
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get metadata about a taxonomic node including taxonomic identifiers, lineage information, child nodes, and gene and genome counts in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_metadata
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2TaxonomyMetadataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxons
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 9606
              - 10090
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - human
              - mouse
            summary: Common Name
          example-2:
            value:
              - Homo sapiens
              - Mus musculus
            summary: Scientific Name
      - name: returned_content
        description: 'Return either tax-ids alone, or entire taxononmy-metadata records'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2TaxonomyMetadataRequestContentType'
  /taxonomy:
    post:
      summary: Use taxonomic identifiers to get taxonomic metadata by post
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get metadata about a taxonomic node including taxonomic identifiers, lineage information, child nodes, and gene and genome counts in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_metadata_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2TaxonomyMetadataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2TaxonomyMetadataRequest'
            example:
              taxons:
              - 9606
              - mouse
  /taxonomy/taxon/{taxons}/filtered_subtree:
    get:
      summary: Use taxonomic identifiers to get a filtered taxonomic subtree
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get a filtered taxonomic subtree that includes the full parent lineage and all immediate children from the selected taxonomic ranks in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_filtered_subtree
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2TaxonomyFilteredSubtreeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxons
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 9606
              - 10090
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - human
              - mouse
            summary: Common Name
          example-2:
            value:
              - Homo sapiens
              - Mus musculus
            summary: Scientific Name
      - name: specified_limit
        description: 'Limit to specified species'
        in: query
        required: false
        schema:
          type: boolean
      - name: rank_limits
        description: 'Limit to the provided ranks.  If empty, accept any rank.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2OrganismRankType'
  /taxonomy/filtered_subtree:
    post:
      summary: Use taxonomic identifiers to get a filtered taxonomic subtree by post
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get a filtered taxonomic subtree that includes the full parent lineage and all immediate children from the selected taxonomic ranks in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_filtered_subtree_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2TaxonomyFilteredSubtreeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2TaxonomyFilteredSubtreeRequest'
  /taxonomy/taxon_suggest/{taxon_query}:
    get:
      summary: Get a list of taxonomy names and IDs given a partial taxonomic name
      description: 'This endpoint retrieves a list of taxonomy names and IDs given a partial taxonomic name of any rank.'
      tags:
        - Taxonomy
      operationId: tax_name_query
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SciNameAndIds'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon_query
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: hum
            summary: hum
      - name: tax_rank_filter
        description: 'Set the scope of searched tax ranks'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2OrganismQueryRequestTaxRankFilter'
          default: species
  /virus/taxon/{taxon}/genome:
    get:
      summary: Get summary data for Coronaviridae genomes by taxon
      description: 'Get summary data and download by command line instructions for Coronaviridae genomes by taxon.'
      tags:
        - Virus
      operationId: virus_genome_summary
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'genome sequence accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: NC_045512.2
            summary: SARS-COV-2 isolate Wuhan-Hu-1, complete genome
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 2697049
            summary: SARS-COV-2
          example-1:
            value: 11118
            summary: Coronaviridae
          example-2:
            value: 1335626
            summary: MERS
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: updated_since
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-07-18
            summary: July 18, 2021
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: pangolin_classification
        description: 'If set, limit results to genomes classified to this lineage by the PangoLearn tool.'
        in: query
        required: false
        schema:
          type: string
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: include_sequence
        description: 'specify which sequence files to include in the download'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2ViralSequenceType'
        examples:
          example-0:
            value:
              - GENOME
              - CDS
              - PROTEIN
            summary: Select viral sequences to include
      - name: aux_report
        description: 'list additional reports to include with download. Data report is included by default.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2VirusDatasetReportType'
        examples:
          example-0:
            value: ANNOTATION
            summary: Select additional report types to include with download. The base data report will always be included.
  /virus/taxon/sars2/protein/{proteins}:
    get:
      summary: Summary of SARS-CoV-2 protein and CDS datasets by protein name
      description: 'Download a summary of available SARS-CoV-2 protein datasets'
      tags:
        - Virus
      operationId: sars2_protein_summary
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: proteins
        description: 'Which proteins to retrieve in the data package'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: spike protein
            summary: Spike Protein
          example-1:
            value:
              - spike protein
              - envelope protein
              - RdRp
            summary: SARS-CoV-2 proteins
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: updated_since
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-07-18
            summary: July 18, 2021
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: include_sequence
        description: 'Specify which sequence files to include in the download'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2ViralSequenceType'
        examples:
          example-0:
            value:
              - CDS
              - PROTEIN
            summary: Select viral sequences to include
      - name: aux_report
        description: 'List additional reports to include with download. Data report is included by default.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2VirusDatasetReportType'
        examples:
          example-0:
            value: ANNOTATION
            summary: Select additional report types to include with download. The base data report will always be included.
  /virus/taxon/{taxon}/genome/table:
    get:
      summary: Get viral genomic metadata in a tabular format.
      description: 'Get viral genomic metadata in tabular format for Coronaviridae genomes by taxon.'
      tags:
        - Virus
      operationId: virus_genome_table
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2TabularOutput'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'genome sequence accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: NC_045512.2
            summary: SARS-COV-2 isolate Wuhan-Hu-1, complete genome
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 2697049
            summary: SARS-COV-2
          example-1:
            value: 11118
            summary: Coronaviridae
          example-2:
            value: 1335626
            summary: MERS
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
[...]
