openapi: 3.0.1
info:
  title: NCBI Datasets API
  version: v1
  description: '### NCBI Datasets is a resource that lets you easily gather data from
      NCBI.

      The Datasets API is still in alpha, and we''re updating it often to add new functionality,
      iron out bugs and enhance usability.

      For some larger downloads, you may want to download a [dehydrated bag](https://www.ncbi.nlm.nih.gov/datasets/docs/rehydrate/),
      and retrieve the individual data files at a later time.

    '
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v1
tags:
- name: Genome
  description: '#### Options to explore, summarize and download assembled genomes,
    including the associated sequence, metadata and annotation.

    These genome services allow you to explore [assembled genomes](https://www.ncbi.nlm.nih.gov/datasets/docs/which-genomes-are-in-datasets).  For
    a set of genomes of interest, identified by either assembly accession or taxonomic
    subtree, you can generate a summary, determine the package size, and download.

    '
- name: Gene
  description: '#### Options to explore, summarize and download sequences and metadata
    for genes and their associated transcripts and proteins.

    These gene services allow you explore [NCBI Gene](https://www.ncbi.nlm.nih.gov/gene/),
    and for genes of interest, identified by either gene-id, symbol or RefSeq sequence
    accession, download a data package including metadata (tabular and [JSON Lines](https://jsonlines.org/)
    formats), transcript and protein sequence in FASTA format.

    '
- name: Prokaryote
  description: '#### Options to explore, summarize and download sequences and metadata
    for prokaryote genes and their associated proteins.

    These gene services allow you to explore prokaryotic gene data by RefSeq protein
    sequence accession and download a data package including metadata for the gene
    including all genomic annotations as [JSON Lines](https://jsonlines.org/) format,
    gene and protein sequences in FASTA format.

    '
- name: Virus
  description: '#### Get metadata or a zip archive containing a coronavirus genome
    or protein dataset.

    The following files are optionally available for coronavirus genome and/or protein
    datasets:

    * genomic.fna (genomic sequences in FASTA format)

    * cds.fna (nucleotide coding sequences in FASTA format)

    * protein.faa (protein sequences in FASTA format)

    * genomic.gbff (genomic sequences and annotation in GenBank flat file format)

    * protein.gpff (protein sequences and annotation in GenPept flat file format)

    * protein structures in PDB format


    The following files are always included in coronavirus genome and protein datasets:

    * data_report.jsonl (data report with viral metadata in JSON lines format)

    * virus_dataset.md (README containing details on sequence file data content and
    other information)

    * dataset_catalog.json (a list of files and file types included in the dataset)

    You may also request a tab-delimited table of metadata that describes the available
    coronavirus genome and protein data.

    Coronavirus genome datasets are available for all taxa in the Coronaviridae family,
    including SARS-CoV-2. Various parameters may be used for filtering and specifying
    the contents of the genome dataset.

    Protein datasets are available for SARS-CoV-2 only.

    '

- name: Version
  description: "#### Retrieve the current version of all services.  \nServices follow\
    \ [Semantic Versioning 2.0.0 Schema](https://semver.org/spec/v2.0.0.html).\n"


- name: Taxonomy
  description: '#### Options to explore taxonomic metadata and relationships.

    These taxonomic services allow you to browse taxonomic metadata in addition to retrieving
    parent lineages and filtered sets of child nodes for any given set of taxonomic identifiers.

    '

externalDocs:
  description: Interactively explore genome assembly datasets
  url: https://www.ncbi.nlm.nih.gov/datasets/genomes/
security:
- ApiKeyAuthHeader: []
paths:
  /genome/accession/{accessions}:
    get:
      summary: Get genome metadata by accession
      description: 'Get detailed metadata for assembled genomes by accession in a JSON output format.'
      tags:
        - Genome
      operationId: assembly_descriptors_by_accessions
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.39
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.39
            summary: Human
      - name: filters.reference_only
        description: 'If true, only return reference and representative (GCF_ and GCA_) genome assemblies.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference & representative genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblySource'
          default: all
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2015
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2021
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value: GRCh38
            summary: GRCh38
          example-2:
            value: C57BL/6J
            summary: C57BL/6J
      - name: page_size
        description: 'The maximum number of genome assemblies to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size,  `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyMetadataRequest` call with more than `page_size` results. Use this token, along with the previous  `AssemblyMetadataRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /genome/taxon/{taxon}:
    get:
      summary: Get genome metadata by taxonomic identifier
      description: 'Get detailed metadata on all assembled genomes for a specified NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank.'
      tags:
        - Genome
      operationId: assembly_descriptors_by_taxon
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: filters.reference_only
        description: 'If true, only return reference and representative (GCF_ and GCA_) genome assemblies.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference & representative genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblySource'
          default: all
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2015
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2021
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value: GRCh38
            summary: GRCh38
          example-2:
            value: C57BL/6J
            summary: C57BL/6J
      - name: tax_exact_match
        description: 'If true, only return assemblies with the given NCBI Taxonomy ID, or name. Otherwise, assemblies from taxonomy subtree are included, too. Ignored for assembly_accession request.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: returned_content
        description: 'Return either assembly accessions, or entire assembly-metadata records'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyMetadataRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assemblies to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size,  `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyMetadataRequest` call with more than `page_size` results. Use this token, along with the previous  `AssemblyMetadataRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /genome/bioproject/{accessions}:
    get:
      summary: Get genome metadata by bioproject accession
      description: 'Get detailed metadata for assembled genomes by bioproject accession in a JSON output format.'
      tags:
        - Genome
      operationId: assembly_descriptors_by_bioproject
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: PRJNA489243
            summary: Vertebrate Genomes Project
          example-1:
            value: PRJNA31257
            summary: Human Genome Project
      - name: filters.reference_only
        description: 'If true, only return reference and representative (GCF_ and GCA_) genome assemblies.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference & representative genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblySource'
          default: all
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2015
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 01/10/2021
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value: GRCh38
            summary: GRCh38
          example-2:
            value: C57BL/6J
            summary: C57BL/6J
      - name: returned_content
        description: 'Return either assembly accessions, or entire assembly-metadata records'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyMetadataRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assemblies to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size,  `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyMetadataRequest` call with more than `page_size` results. Use this token, along with the previous  `AssemblyMetadataRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
  /genome:
    post:
      summary: Get genome metadata by variety of identifiers
      description: 'Get detailed metadata for assembled genomes.'
      tags:
        - Genome
      operationId: genome_metadata_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssemblyMetadataRequest'
            example:
              accessions:
                accessions:
                - GCF_000001405.39
  /genome/taxon/{taxon}/tree:
    get:
      summary: Get a taxonomic subtree by taxonomic identifier
      description: 'Using a NCBI Taxonomy ID or name (common or scientific) at any rank, get a subtree filtered for species with assembled genomes.'
      tags:
        - Genome
      operationId: genome_tax_tree
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Organism'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: children_only
        description: 'Only report the children of the requested taxon and not their descendants'
        in: query
        required: false
        schema:
          type: boolean
          default: false
  /genome/taxon_suggest/{taxon_query}:
    get:
      summary: Get a list of taxonomy names and IDs found in the assembly dataset given a partial taxonomic name
      description: 'This endpoint retrieves a list of taxonomy names and IDs found in the assembly dataset given a partial taxonomic name of any rank.'
      tags:
        - Genome
      operationId: genome_tax_name_query
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SciNameAndIds'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon_query
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: hum
            summary: hum
      - name: tax_rank_filter
        description: 'Set the scope of searched tax ranks'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1OrganismQueryRequestTaxRankFilter'
          default: species
  /genome/accession/{accessions}/download_summary:
    get:
      summary: Preview genome dataset download
      description: 'Get a download summary by accession in a JSON output format.'
      tags:
        - Genome
      operationId: genome_download_summary
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.39
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.39
            summary: Human
      - name: chromosomes
        description: 'The default setting is all chromosome. Specify individual chromosome by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like their own chromosome (''Un''). The filter only applies to fasta sequence.'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: exclude_sequence
        description: 'Set to true to omit the genomic sequence.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Exclude genomic sequence
          example-1:
            value: false
            summary: Include genomic sequence
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationForAssemblyType'
        examples:
          example-0:
            value:
              - PROT_FASTA
              - RNA_FASTA
            summary: Transcript & Protein Sequence
          example-1:
            value:
              - GENOME_GFF
              - GENOME_GBFF
              - GENOME_GTF
              - PROT_FASTA
              - RNA_FASTA
              - CDS_FASTA
            summary: All
  /genome/download_summary:
    post:
      summary: Preview genome dataset download by POST
      description: 'The ''GET'' version of download summary is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: genome_download_summary_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssemblyDatasetRequest'
            example:
              accessions:
              - GCF_000001405.39
  /genome/accession/{accessions}/download:
    get:
      summary: Get a genome dataset by accession
      description: 'Download a genome dataset including fasta sequence, annotation and a detailed data report by accession.'
      tags:
        - Genome
      operationId: download_assembly_package
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.39
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.39
            summary: Human
      - name: chromosomes
        description: 'The default setting is all chromosome. Specify individual chromosome by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like their own chromosome (''Un''). The filter only applies to fasta sequence.'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 1
              - 2
              - 3
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: exclude_sequence
        description: 'Set to true to omit the genomic sequence.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Exclude genomic sequence
          example-1:
            value: false
            summary: Include genomic sequence
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationForAssemblyType'
        examples:
          example-0:
            value:
              - PROT_FASTA
              - RNA_FASTA
            summary: Transcript & Protein Sequence
          example-1:
            value:
              - GENOME_GFF
              - GENOME_GBFF
              - GENOME_GTF
              - PROT_FASTA
              - RNA_FASTA
              - CDS_FASTA
            summary: All
      - name: hydrated
        description: 'Set to DATA_REPORT_ONLY, to only retrieve data-reports.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetRequestResolution'
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /genome/download:
    post:
      summary: Get a genome dataset by post
      description: 'The ''GET'' version of download is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: download_assembly_package_post
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssemblyDatasetRequest'
            example:
              accessions:
              - GCF_000001405.39
      parameters:
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /gene/id/{gene_ids}/download:
    get:
      summary: Get a gene dataset by gene ID
      description: 'Get a gene dataset including gene, transcript and protein fasta sequence, annotation and metadata by gene ID.'
      tags:
        - Gene
      operationId: download_gene_package
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_ids
        description: 'NCBI gene ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value: 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1Fasta'
      - name: fasta_filter
        description: 'Limit the FASTA sequences in the datasets package to these transcript and protein accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /gene/download:
    post:
      summary: Get a gene dataset by POST
      description: 'Get a gene dataset including gene, transcript and protein fasta sequence, annotation and metadata by POST.'
      tags:
        - Gene
      operationId: download_gene_package_post
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
            example:
              gene_ids:
              - 59067
              - 50615
      parameters:
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /protein/accession/{accessions}/download:
    get:
      summary: Get a prokaryote gene dataset by RefSeq protein accession
      description: 'Get a prokaryote gene dataset including gene and protein fasta sequence, annotation and metadata by prokaryote protein accession.'
      tags:
        - Prokaryote
      operationId: download_prokaryote_gene_package
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'WP prokaryote protein accession'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: WP_015878339.1
            summary: DNA-deoxyinosine glycosylase
          example-1:
            value: WP_001040085.1
            summary: type II CRISPR RNA-guided endonuclease Cas9
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1Fasta'
        examples:
          example-0:
            value: FASTA_GENE
            summary: Gene range FASTA
          example-1:
            value:
              - FASTA_RNA
              - FASTA_PROTEIN
            summary: Transcript & protein sequence FASTA
          example-2:
            value:
              - FASTA_GENE
              - FASTA_RNA
              - FASTA_PROTEIN
            summary: All annotation
      - name: gene_flank_config.length
        in: query
        required: false
        schema:
          type: integer
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank When specified, return data from this taxon and its subtree'
        in: query
        required: false
        schema:
          type: string
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /protein/accession/download:
    post:
      summary: Get a prokaryote gene dataset by RefSeq protein accession by POST
      description: 'Get a prokaryote gene dataset including gene and protein fasta sequence, annotation and metadata by prokaryote protein accession by POST.'
      tags:
        - Prokaryote
      operationId: download_prokaryote_gene_package_post
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ProkaryoteGeneRequest'
            example:
              accessions:
              - WP_000000001.1
              - WP_000000002.1
      parameters:
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /genome/accession/{accessions}/check:
    get:
      summary: Check the validity of genome accessions
      description: 'The ''GET'' version of check is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: check_assembly_availability
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyDatasetAvailability'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.39
              - GCF_000001635.27
            summary: Human and Mouse
          example-1:
            value: GCF_000001405.39
            summary: Human
  /genome/check:
    post:
      summary: Check the validity of many genome accessions in a single request
      description: 'The ''GET'' version of check is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: check_assembly_availability_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyDatasetAvailability'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssemblyDatasetRequest'
            example:
              accessions:
              - GCF_000001405.39
  /version:
    get:
      summary: Retrieve service version
      description: 'Retrieve the latest version of the Datasets services.'
      tags:
        - Version
      operationId: version
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1VersionReply'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
  /gene/id/{gene_ids}:
    get:
      summary: Get gene metadata by GeneID
      description: 'Get detailed gene metadata by GeneID in a JSON output format.'
      tags:
        - Gene
      operationId: gene_metadata_by_id
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_ids
        description: 'NCBI gene ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value: 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestContentType'
      - name: sort_schema.field
        description: 'Select a field to sort on.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestSortField'
      - name: sort_schema.direction
        description: 'Select a direction for the sort.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1SortDirection'
      - name: limit
        description: 'Limit the number of returned results ("all", "none", otherwise an integer value)'
        in: query
        required: false
        schema:
          type: string
  /gene/accession/{accessions}:
    get:
      summary: Get gene metadata by RefSeq Accession
      description: 'Get detailed gene metadata by RefSeq Accession in a JSON output format.'
      tags:
        - Gene
      operationId: gene_metadata_by_accession
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'RNA or Protein accessions.'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - NM_021803.4
              - NM_181078.3
            summary: RefSeq transcripts
          example-1:
            value:
              - NP_068575.1
              - NP_851564.1
            summary: RefSeq proteins
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestContentType'
      - name: sort_schema.field
        description: 'Select a field to sort on.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestSortField'
      - name: sort_schema.direction
        description: 'Select a direction for the sort.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1SortDirection'
      - name: limit
        description: 'Limit the number of returned results ("all", "none", otherwise an integer value)'
        in: query
        required: false
        schema:
          type: string
  /gene/symbol/{symbols}/taxon/{taxon}:
    get:
      summary: Get gene metadata by gene symbol
      description: 'Get detailed gene metadata by gene symbol in a JSON output format.'
      tags:
        - Gene
      operationId: gene_metadata_by_tax_and_symbol
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'RNA or Protein accessions.'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - NM_021803.4
              - NM_181078.3
            summary: RefSeq transcripts
          example-1:
            value:
              - NP_068575.1
              - NP_851564.1
            summary: RefSeq proteins
      - name: symbols
        description: 'Gene symbol'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: GNAS
            summary: GNAS
      - name: taxon
        description: 'Taxon for provided gene symbol'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestContentType'
      - name: sort_schema.field
        description: 'Select a field to sort on.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestSortField'
      - name: sort_schema.direction
        description: 'Select a direction for the sort.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1SortDirection'
      - name: limit
        description: 'Limit the number of returned results ("all", "none", otherwise an integer value)'
        in: query
        required: false
        schema:
          type: string
  /gene:
    post:
      summary: Get gene metadata as JSON
      description: 'Get detailed gene metadata in a JSON output format.'
      tags:
        - Gene
      operationId: gene_metadata_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
            example:
              gene_ids:
              - 59067
              - 50615
  /gene/stream:
    post:
      summary: Get gene metadata
      description: 'Get detailed gene metadata in a streaming, JSON-lines output format.'
      tags:
        - Gene
      operationId: gene_metadata_stream_by_post
      responses:
        '200':
          description: Successful request, returning a stream of individual JSON Text payloads.
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v1GeneMatch'
          headers:
            Transfer-Encoding:
              schema:
                type: string
              description: chunked
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
            example:
              gene_ids:
              - 59067
              - 50615
  /gene/id/{gene_ids}/download_summary:
    get:
      summary: Get gene download summary by GeneID
      description: 'Get a download summary by GeneID in a JSON output format.'
      tags:
        - Gene
      operationId: gene_download_summary_by_id
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_ids
        description: 'NCBI gene ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value: 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
      - name: fasta_filter
        description: 'Limit the FASTA sequences in the datasets package to these transcript and protein accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
  /gene/accession/{accessions}/download_summary:
    get:
      summary: Get gene download summary by RefSeq Accession
      description: 'Get gene download summary by RefSeq Accession in a JSON output format.'
      tags:
        - Gene
      operationId: gene_download_summary_by_accession
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessions
        description: 'RNA or Protein accessions.'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - NM_021803.4
              - NM_181078.3
            summary: RefSeq transcripts
          example-1:
            value:
              - NP_068575.1
              - NP_851564.1
            summary: RefSeq proteins
      - name: fasta_filter
        description: 'Limit the FASTA sequences in the datasets package to these transcript and protein accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
  /gene/symbol/{symbols}/taxon/{taxon}/download_summary:
    get:
      summary: Get gene download summary by gene symbol
      description: 'Get gene download summary by gene symbol in a JSON output format.'
      tags:
        - Gene
      operationId: gene_download_summary_by_tax_and_symbol
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: symbols
        description: 'Gene symbol'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: GNAS
            summary: GNAS
      - name: taxon
        description: 'Taxon for provided gene symbol'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: fasta_filter
        description: 'Limit the FASTA sequences in the datasets package to these transcript and protein accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
  /gene/download_summary:
    post:
      summary: Get gene download summary
      description: 'Get gene download summary in a JSON output format.'
      tags:
        - Gene
      operationId: gene_download_summary_by_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
            example:
              gene_ids:
              - 59067
              - 50615
  /gene/id/{gene_id}/orthologs:
    get:
      summary: Get gene orthologs by gene ID
      description: 'Get detailed gene metadata for an ortholog set by gene ID in a JSON output format.'
      tags:
        - Gene
      operationId: gene_orthologs_by_id
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OrthologSet'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: gene_id
        in: path
        required: true
        schema:
          type: integer
        examples:
          example-0:
            value: 2778
            summary: GNAS
          example-1:
            value: 2
            summary: A2M
      - name: returned_content
        description: 'Return either gene-ids, or entire gene metadata'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1OrthologRequestContentType'
      - name: taxon_filter
        description: 'Filter genes by taxa'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 9606
              - 10090
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - human
              - house mouse
            summary: Common Name
          example-2:
            value:
              - homo sapiens
              - mus musculus
            summary: Scientific Name
  /gene/taxon/{taxon}/tree:
    get:
      summary: Get a taxonomic subtree by taxonomic identifier
      description: 'Using an NCBI Taxonomy ID or name (common or scientific) at any rank, get a subtree filtered for species with assembled genomes.'
      tags:
        - Gene
      operationId: gene_tax_tree
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Organism'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 9606
            summary: NCBI Taxonomy Identifier
          example-1:
            value: human
            summary: Common Name
          example-2:
            value: Homo sapiens
            summary: Scientific Name
      - name: children_only
        description: 'Only report the children of the requested taxon and not their descendants'
        in: query
        required: false
        schema:
          type: boolean
          default: false
  /gene/taxon_suggest/{taxon_query}:
    get:
      summary: Get a list of taxonomy names and IDs found in the gene dataset given a partial taxonomic name
      description: 'This endpoint retrieves a list of taxonomy names and IDs found in the gene dataset given a partial taxonomic name of any rank.'
      tags:
        - Gene
      operationId: gene_tax_name_query
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SciNameAndIds'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon_query
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: hum
            summary: hum
      - name: tax_rank_filter
        description: 'Set the scope of searched tax ranks'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1OrganismQueryRequestTaxRankFilter'
          default: species
  /taxonomy/taxon/{taxons}:
    get:
      summary: Use taxonomic identifiers to get taxonomic metadata
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get metadata about a taxonomic node including taxonomic identifiers, lineage information, child nodes, and gene and genome counts in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_metadata
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyMetadataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxons
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 9606
              - 10090
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - human
              - mouse
            summary: Common Name
          example-2:
            value:
              - Homo sapiens
              - Mus musculus
            summary: Scientific Name
      - name: returned_content
        description: 'Return either tax-ids alone, or entire taxononmy-metadata records'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1TaxonomyMetadataRequestContentType'
  /taxonomy:
    post:
      summary: Use taxonomic identifiers to get taxonomic metadata by post
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get metadata about a taxonomic node including taxonomic identifiers, lineage information, child nodes, and gene and genome counts in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_metadata_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyMetadataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TaxonomyMetadataRequest'
            example:
              taxons:
              - 9606
              - mouse
  /taxonomy/taxon/{taxons}/filtered_subtree:
    get:
      summary: Use taxonomic identifiers to get a filtered taxonomic subtree
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get a filtered taxonomic subtree that includes the full parent lineage and all immediate children from the selected taxonomic ranks in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_filtered_subtree
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyFilteredSubtreeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxons
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - 9606
              - 10090
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - human
              - mouse
            summary: Common Name
          example-2:
            value:
              - Homo sapiens
              - Mus musculus
            summary: Scientific Name
      - name: specified_limit
        description: 'Limit to specified species'
        in: query
        required: false
        schema:
          type: boolean
      - name: rank_limits
        description: 'Limit to the provided ranks.  If empty, accept any rank.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1OrganismRankType'
  /taxonomy/filtered_subtree:
    post:
      summary: Use taxonomic identifiers to get a filtered taxonomic subtree by post
      description: 'Using NCBI Taxonomy IDs or names (common or scientific) at any rank, get a filtered taxonomic subtree that includes the full parent lineage and all immediate children from the selected taxonomic ranks in JSON format.'
      tags:
        - Taxonomy
      operationId: taxonomy_filtered_subtree_post
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyFilteredSubtreeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TaxonomyFilteredSubtreeRequest'
  /taxonomy/taxon_suggest/{taxon_query}:
    get:
      summary: Get a list of taxonomy names and IDs given a partial taxonomic name
      description: 'This endpoint retrieves a list of taxonomy names and IDs given a partial taxonomic name of any rank.'
      tags:
        - Taxonomy
      operationId: tax_name_query
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SciNameAndIds'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon_query
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: hum
            summary: hum
      - name: tax_rank_filter
        description: 'Set the scope of searched tax ranks'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1OrganismQueryRequestTaxRankFilter'
          default: species
  /virus/taxon/{taxon}/genome:
    get:
      summary: Get summary data for Coronaviridae genomes by taxon
      description: 'Get summary data and download by command line instructions for Coronaviridae genomes by taxon.'
      tags:
        - Virus
      operationId: virus_genome_summary
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 2697049
            summary: SARS-COV-2
          example-1:
            value: 11118
            summary: Coronaviridae
          example-2:
            value: 1335626
            summary: MERS
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: pangolin_classification
        description: 'If set, limit results to genomes classified to this lineage by the PangoLearn tool.'
        in: query
        required: false
        schema:
          type: string
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: exclude_sequence
        description: 'Set to true to omit the genomic sequence.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Exclude genomic sequence
          example-1:
            value: false
            summary: Include genomic sequence
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationForVirusType'
        examples:
          example-0:
            value:
              - CDS_FASTA
              - PROT_FASTA
            summary: Transcript & protein sequence
          example-1:
            value:
              - GENOME_GBFF
              - GENOME_GPFF
              - PDB_FILES
              - CDS_FASTA
              - PROT_FASTA
            summary: All annotation
  /virus/taxon/sars2/protein/{proteins}:
    get:
      summary: Summary of SARS-CoV-2 protein and CDS datasets by protein name
      description: 'Download a summary of available SARS-CoV-2 protein datasets'
      tags:
        - Virus
      operationId: sars2_protein_summary
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: proteins
        description: 'Which proteins to retrieve in the data package'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: spike protein
            summary: Spike Protein
          example-1:
            value:
              - spike protein
              - envelope protein
              - RdRp
            summary: SARS-CoV-2 proteins
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationForVirusType'
        examples:
          example-0:
            value:
              - CDS_FASTA
              - PROT_FASTA
            summary: Transcript & protein sequence
          example-1:
            value:
              - GENOME_GPFF
              - PDB_FILES
              - CDS_FASTA
              - PROT_FASTA
            summary: All annotation
  /virus/taxon/{taxon}/genome/table:
    get:
      summary: Get viral genomic metadata in a tabular format.
      description: 'Get viral genomic metadata in tabular format for Coronaviridae genomes by taxon.'
      tags:
        - Virus
      operationId: virus_genome_table
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TabularOutput'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 2697049
            summary: SARS-COV-2
          example-1:
            value: 11118
            summary: Coronaviridae
          example-2:
            value: 1335626
            summary: MERS
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: pangolin_classification
        description: 'If set, limit results to genomes classified to this lineage by the PangoLearn tool.'
        in: query
        required: false
        schema:
          type: string
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1VirusTableField'
        examples:
          example-0:
            value:
              - nucleotide_accession
              - nucleotide_length
              - nuc_completeness
            summary: Assembly Fields
      - name: format
        description: 'Choose download format (tsv, csv or jsonl)'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1TableFormat'
          default: tsv
        examples:
          example-0:
            value: tsv
            summary: TSV
          example-1:
            value: csv
            summary: CSV
          example-2:
            value: jsonl
            summary: JSON Lines
  /virus/taxon/sars2/protein/{proteins}/table:
    get:
      summary: Get SARS-CoV-2 protein metadata in a tabular format.
      description: 'Get protein metadata in tabular format for SARS-CoV-2 genomes.'
      tags:
        - Virus
      operationId: sars2_protein_table
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TabularOutput'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: proteins
        description: 'Which proteins to retrieve in the data package'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: spike protein
            summary: Spike Protein
          example-1:
            value:
              - spike protein
              - envelope protein
              - RdRp
            summary: SARS-CoV-2 proteins
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: table_fields
        description: 'Specify which fields to include in the tabular report'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1VirusTableField'
        examples:
          example-0:
            value:
              - nucleotide_accession
              - nucleotide_length
              - nuc_completeness
            summary: Assembly Fields
      - name: format
        description: 'Choose download format (tsv, csv or jsonl)'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v1TableFormat'
          default: tsv
        examples:
          example-0:
            value: tsv
            summary: TSV
          example-1:
            value: csv
            summary: CSV
          example-2:
            value: jsonl
            summary: JSON Lines
  /virus/taxon/{taxon}/genome/download:
    get:
      summary: Download Coronavirus genome datasets by taxon
      description: 'Download a Coronavirus genome datasets by taxon'
      tags:
        - Virus
      operationId: virus_genome_download
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: taxon
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: 2697049
            summary: SARS-COV-2
          example-1:
            value: 11118
            summary: Coronaviridae
          example-2:
            value: 1335626
            summary: MERS
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: pangolin_classification
        description: 'If set, limit results to genomes classified to this lineage by the PangoLearn tool.'
        in: query
        required: false
        schema:
          type: string
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: exclude_sequence
        description: 'Set to true to omit the genomic sequence.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Exclude genomic sequence
          example-1:
            value: false
            summary: Include genomic sequence
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationForVirusType'
        examples:
          example-0:
            value:
              - CDS_FASTA
              - PROT_FASTA
            summary: Transcript & protein sequence
          example-1:
            value:
              - GENOME_GBFF
              - GENOME_GPFF
              - PDB_FILES
              - CDS_FASTA
              - PROT_FASTA
            summary: All annotation
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /virus/taxon/sars2/protein/{proteins}/download:
    get:
      summary: Download SARS-CoV-2 protein and CDS datasets by protein name
      description: 'Download a SARS-CoV-2 protein datasets'
      tags:
        - Virus
      operationId: sars2_protein_download
      responses:
        '200':
          description: Download selected genome assemblies and associated annotation data as a zip file
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: proteins
        description: 'Which proteins to retrieve in the data package'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value: spike protein
            summary: Spike Protein
          example-1:
            value:
              - spike protein
              - envelope protein
              - RdRp
            summary: SARS-CoV-2 proteins
      - name: refseq_only
        description: 'If true, limit results to RefSeq genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to RefSeq genomes
          example-1:
            value: false
            summary: Both GenBank & RefSeq genomes
      - name: annotated_only
        description: 'If true, limit results to annotated genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated genomes
          example-1:
            value: false
            summary: All genomes
      - name: released_since
        description: 'If set, limit results to viral genomes that have been released after a specified date (and optionally, time). April 1, 2020 midnight UTC should be formatted as ''2020-04-01T00:00:00.000Z'''
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2020-08-01
            summary: August 1, 2020
      - name: host
        description: 'If set, limit results to genomes extracted from this host (Taxonomy ID or name) All hosts by default'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: human
            summary: human
      - name: geo_location
        description: 'Assemblies from this location (country and state, or continent)'
        in: query
        required: false
        schema:
          type: string
        examples:
          example-0:
            value: USA
            summary: USA
          example-1:
            value: TX
            summary: Texas
      - name: complete_only
        description: 'only include complete genomes.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to complete genomes
          example-1:
            value: false
            summary: All genomes
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationForVirusType'
        examples:
          example-0:
            value:
              - CDS_FASTA
              - PROT_FASTA
            summary: Transcript & protein sequence
          example-1:
            value:
              - GENOME_GPFF
              - PDB_FILES
              - CDS_FASTA
              - PROT_FASTA
            summary: All annotation
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
    ApiKeyAuthHeader:
      type: apiKey
      in: header
      name: api-key
  schemas:
    v1Accessions:
      type: object
      properties:
        accessions:
          type: array
          items:
            type: string
    v1AnnotatedAssemblies:
      type: object
      properties:
        accession:
          type: string
        name:
          type: string
    v1Annotation:
      type: object
      properties:
        release_name:
          type: string
        release_date:
          type: string
        assemblies_in_scope:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotatedAssemblies'
    v1AnnotationForAssembly:
      type: object
      properties:
        name:
          type: string
          title: 'Annotation name'
        source:
          type: string
          title: 'Source of the annotation.  Possibly from a submitter.'
        release_number:
          type: string
          title: 'NCBI Annotation release number, if one exists.'
        release_date:
          type: string
          title: 'The date the annotation was released'
        report_url:
          type: string
          title: 'NCBI annotation report website'
        file:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationForAssemblyFile'
        stats:
          $ref: '#/components/schemas/v1FeatureCounts'
          title: 'Feature statistics'
        busco:
          $ref: '#/components/schemas/v1BuscoStat'
          title: 'BUSCO statistics'
    v1AnnotationForAssemblyFile:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/v1AnnotationForAssemblyType'
        estimated_size:
          type: string
          format: uint64
    v1AssemblyDatasetAvailability:
      type: object
      properties:
        valid_assemblies:
          type: array
          items:
            type: string
        invalid_assemblies:
          type: array
          items:
            type: string
        reason:
          type: string
    v1AssemblyDatasetDescriptor:
      type: object
      properties:
        assembly_accession:
          type: string
          title: 'The GenColl assembly accession (e.g. GCF_000001405.39)'
        paired_assembly_accession:
          type: string
          title: 'The GenBank or RefSeq assembly accession paired with this assembly'
        bioproject_lineages:
          type: array
          items:
            $ref: '#/components/schemas/v1BioProjectLineage'
        display_name:
          type: string
          title: 'The name of the Assembly dataset to be displayed in a user interface.'
        org:
          $ref: '#/components/schemas/v1Organism'
          title: 'Organism information'
        chromosomes:
          type: array
          items:
            $ref: '#/components/schemas/v1AssemblyDatasetDescriptorChromosome'
        assembly_category:
          type: string
[...]
