openapi: 3.0.1
info:
  description: |
    ### NCBI Datasets is a resource that lets you easily gather data from NCBI.
    The Datasets API is still in alpha, and we're updating it often to add new functionality, iron out bugs and enhance usability.
    For some larger downloads, you may want to download a [dehydrated bag](https://www.ncbi.nlm.nih.gov/datasets/docs/rehydrate/), and retrieve the individual data files at a later time.
  title: NCBI Datasets API
  version: v1
externalDocs:
  description: Interactively explore genome assembly datasets
  url: https://www.ncbi.nlm.nih.gov/datasets/genomes/
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v1
- url: https://dev.ncbi.nlm.nih.gov/datasets/v1
security:
- ApiKeyAuthHeader: []
tags:
- description: |
    #### Options to explore, summarize and download assembled genomes, including the associated sequence, metadata and annotation.
    These genome services allow you to explore [assembled genomes](https://www.ncbi.nlm.nih.gov/datasets/docs/which-genomes-are-in-datasets).  For a set of genomes of interest, identified by either assembly accession or taxonomic subtree, you can generate a summary, determine the package size, and download.
  name: Genome
- description: |
    #### Options to explore, summarize and download sequences and metadata for genes and their associated transcripts and proteins.
    These gene services allow you explore [NCBI Gene](https://www.ncbi.nlm.nih.gov/gene/), and for genes of interest, identified by either gene-id, symbol or RefSeq sequence accession, download a data package including metadata (tabular and [JSON Lines](https://jsonlines.org/) formats), transcript and protein sequence in FASTA format.
  name: Gene
- description: |
    #### Options to explore, summarize and download sequences and metadata for prokaryote genes and their associated proteins.
    These gene services allow you to explore prokaryotic gene data by RefSeq protein sequence accession and download a data package including metadata for the gene including all genomic annotations as [JSON Lines](https://jsonlines.org/) format, gene and protein sequences in FASTA format.
  name: Prokaryote
- description: |
    #### Get metadata or a zip archive containing a coronavirus genome or protein dataset.
    The following files are optionally available for coronavirus genome and/or protein datasets:
    * genomic.fna (genomic sequences in FASTA format)
    * cds.fna (nucleotide coding sequences in FASTA format)
    * protein.faa (protein sequences in FASTA format)
    * genomic.gbff (genomic sequences and annotation in GenBank flat file format)
    * protein.gpff (protein sequences and annotation in GenPept flat file format)
    * protein structures in PDB format

    The following files are always included in coronavirus genome and protein datasets:
    * data_report.jsonl (data report with viral metadata in JSON lines format)
    * virus_dataset.md (README containing details on sequence file data content and other information)
    * dataset_catalog.json (a list of files and file types included in the dataset)
    You may also request a tab-delimited table of metadata that describes the available coronavirus genome and protein data.
    Coronavirus genome datasets are available for all taxa in the Coronaviridae family, including SARS-CoV-2. Various parameters may be used for filtering and specifying the contents of the genome dataset.
    Protein datasets are available for SARS-CoV-2 only.
  name: Virus
- description: "#### Retrieve the current version of all services.  \nServices follow\
    \ [Semantic Versioning 2.0.0 Schema](https://semver.org/spec/v2.0.0.html).\n"
  name: Version
- description: |
    #### Options to explore taxonomic metadata and relationships.
    These taxonomic services allow you to browse taxonomic metadata in addition to retrieving parent lineages and filtered sets of child nodes for any given set of taxonomic identifiers.
  name: Taxonomy
paths:
  /genome/accession/{accessions}:
    get:
      description: Get detailed metadata for assembled genomes by accession in a JSON
        output format.
      operationId: assembly_descriptors_by_accessions
      parameters:
      - examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.39
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.39
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: If true, only return reference and representative (GCF_ and GCA_)
          genome assemblies.
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Only return genome assemblies that have one of the specified
          assembly levels. By default, do not filter.
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblyLevel'
          type: array
        style: form
      - description: Only return genome assemblies that were released on or after
          the specified date By default, do not filter.
        examples:
          example-0:
            summary: Jan 10, 2015
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return genome assemblies that were released on or before
          to the specified date By default, do not filter.
        examples:
          example-0:
            summary: Jan 10, 2021
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return results whose fields contain the specified search
          terms in their taxon, infraspecific, assembly name or submitter fields By
          default, do not filter
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The maximum number of genome assemblies to return. Default is
          20 and maximum is 1000. If the number of results exceeds the page size,
          `page_token` can be used to retrieve the remaining results.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: A page token is returned from an `AssemblyMetadataRequest` call
          with more than `page_size` results. Use this token, along with the previous
          `AssemblyMetadataRequest` parameters, to retrieve the next page of results.
          When `page_token` is empty, all results have been retrieved.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by accession
      tags:
      - Genome
  /genome/taxon/{taxon}:
    get:
      description: Get detailed metadata on all assembled genomes for a specified
        NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank.
      operationId: assembly_descriptors_by_taxon
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value: 9606
          example-1:
            summary: Common Name
            value: human
          example-2:
            summary: Scientific Name
            value: Homo sapiens
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: If true, only return reference and representative (GCF_ and GCA_)
          genome assemblies.
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Only return genome assemblies that have one of the specified
          assembly levels. By default, do not filter.
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblyLevel'
          type: array
        style: form
      - description: Only return genome assemblies that were released on or after
          the specified date By default, do not filter.
        examples:
          example-0:
            summary: Jan 10, 2015
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return genome assemblies that were released on or before
          to the specified date By default, do not filter.
        examples:
          example-0:
            summary: Jan 10, 2021
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return results whose fields contain the specified search
          terms in their taxon, infraspecific, assembly name or submitter fields By
          default, do not filter
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: If true, only return assemblies with the given NCBI Taxonomy
          ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.
          Ignored for assembly_accession request.
        explode: true
        in: query
        name: tax_exact_match
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return either assembly accessions, or entire assembly-metadata
          records
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyMetadataRequestContentType'
        style: form
      - description: The maximum number of genome assemblies to return. Default is
          20 and maximum is 1000. If the number of results exceeds the page size,
          `page_token` can be used to retrieve the remaining results.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: A page token is returned from an `AssemblyMetadataRequest` call
          with more than `page_size` results. Use this token, along with the previous
          `AssemblyMetadataRequest` parameters, to retrieve the next page of results.
          When `page_token` is empty, all results have been retrieved.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by taxonomic identifier
      tags:
      - Genome
  /genome/bioproject/{accessions}:
    get:
      description: Get detailed metadata for assembled genomes by bioproject accession
        in a JSON output format.
      operationId: assembly_descriptors_by_bioproject
      parameters:
      - examples:
          example-0:
            summary: Vertebrate Genomes Project
            value: PRJNA489243
          example-1:
            summary: Human Genome Project
            value: PRJNA31257
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: If true, only return reference and representative (GCF_ and GCA_)
          genome assemblies.
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Only return genome assemblies that have one of the specified
          assembly levels. By default, do not filter.
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AssemblyDatasetDescriptorsFilterAssemblyLevel'
          type: array
        style: form
      - description: Only return genome assemblies that were released on or after
          the specified date By default, do not filter.
        examples:
          example-0:
            summary: Jan 10, 2015
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return genome assemblies that were released on or before
          to the specified date By default, do not filter.
        examples:
          example-0:
            summary: Jan 10, 2021
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return results whose fields contain the specified search
          terms in their taxon, infraspecific, assembly name or submitter fields By
          default, do not filter
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Return either assembly accessions, or entire assembly-metadata
          records
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyMetadataRequestContentType'
        style: form
      - description: The maximum number of genome assemblies to return. Default is
          20 and maximum is 1000. If the number of results exceeds the page size,
          `page_token` can be used to retrieve the remaining results.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: A page token is returned from an `AssemblyMetadataRequest` call
          with more than `page_size` results. Use this token, along with the previous
          `AssemblyMetadataRequest` parameters, to retrieve the next page of results.
          When `page_token` is empty, all results have been retrieved.
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by bioproject accession
      tags:
      - Genome
  /genome:
    post:
      description: Get detailed metadata for assembled genomes.
      operationId: genome_metadata_by_post
      requestBody:
        content:
          application/json:
            example:
              accessions:
                accessions:
                - GCF_000001405.39
            schema:
              $ref: '#/components/schemas/v1AssemblyMetadataRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by variety of identifiers
      tags:
      - Genome
  /genome/taxon/{taxon}/tree:
    get:
      description: Using a NCBI Taxonomy ID or name (common or scientific) at any
        rank, get a subtree filtered for species with assembled genomes.
      operationId: genome_tax_tree
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value: 9606
          example-1:
            summary: Common Name
            value: human
          example-2:
            summary: Scientific Name
            value: Homo sapiens
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: Only report the children of the requested taxon and not their
          descendants
        explode: true
        in: query
        name: children_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Organism'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a taxonomic subtree by taxonomic identifier
      tags:
      - Genome
  /genome/taxon_suggest/{taxon_query}:
    get:
      description: This endpoint retrieves a list of taxonomy names and IDs found
        in the assembly dataset given a partial taxonomic name of any rank.
      operationId: genome_tax_name_query
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: hum
            value: hum
        explode: false
        in: path
        name: taxon_query
        required: true
        schema:
          type: string
        style: simple
      - description: Set the scope of searched tax ranks
        explode: true
        in: query
        name: tax_rank_filter
        required: false
        schema:
          $ref: '#/components/schemas/v1OrganismQueryRequestTaxRankFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SciNameAndIds'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a list of taxonomy names and IDs found in the assembly dataset
        given a partial taxonomic name
      tags:
      - Genome
  /genome/accession/{accessions}/download_summary:
    get:
      description: Get a download summary by accession in a JSON output format.
      operationId: genome_download_summary
      parameters:
      - description: NCBI genome assembly accessions
        examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.39
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.39
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: The default setting is all chromosome. Specify individual chromosome
          by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like
          their own chromosome ('Un'). The filter only applies to fasta sequence.
        examples:
          example-0:
            summary: Selected chromosomes
            value:
            - 1
            - 2
            - 3
            - X
            - "Y"
            - MT
          example-1:
            summary: Human sex chromosomes
            value:
            - X
            - "Y"
        explode: true
        in: query
        name: chromosomes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set to true to omit the genomic sequence.
        examples:
          example-0:
            summary: Exclude genomic sequence
            value: true
          example-1:
            summary: Include genomic sequence
            value: false
        explode: true
        in: query
        name: exclude_sequence
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        examples:
          example-0:
            summary: Transcript & Protein Sequence
            value:
            - PROT_FASTA
            - RNA_FASTA
          example-1:
            summary: All
            value:
            - GENOME_GFF
            - GENOME_GBFF
            - GENOME_GTF
            - PROT_FASTA
            - RNA_FASTA
            - CDS_FASTA
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AnnotationForAssemblyType'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Preview genome dataset download
      tags:
      - Genome
  /genome/download_summary:
    post:
      description: The 'GET' version of download summary is limited by the size of
        the GET URL (2KB, which works out to about 140 genomic accessions).  The POST
        operation is provided to allow users to supply a larger number of accessions
        in a single request.
      operationId: genome_download_summary_by_post
      requestBody:
        content:
          application/json:
            example:
              accessions:
              - GCF_000001405.39
            schema:
              $ref: '#/components/schemas/v1AssemblyDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Preview genome dataset download by POST
      tags:
      - Genome
  /genome/accession/{accessions}/download:
    get:
      description: Download a genome dataset including fasta sequence, annotation
        and a detailed data report by accession.
      operationId: download_assembly_package
      parameters:
      - description: NCBI genome assembly accessions
        examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.39
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.39
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: The default setting is all chromosome. Specify individual chromosome
          by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like
          their own chromosome ('Un'). The filter only applies to fasta sequence.
        examples:
          example-0:
            summary: Selected chromosomes
            value:
            - 1
            - 2
            - 3
            - X
            - "Y"
            - MT
          example-1:
            summary: Human sex chromosomes
            value:
            - X
            - "Y"
        explode: true
        in: query
        name: chromosomes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set to true to omit the genomic sequence.
        examples:
          example-0:
            summary: Exclude genomic sequence
            value: true
          example-1:
            summary: Include genomic sequence
            value: false
        explode: true
        in: query
        name: exclude_sequence
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        examples:
          example-0:
            summary: Transcript & Protein Sequence
            value:
            - PROT_FASTA
            - RNA_FASTA
          example-1:
            summary: All
            value:
            - GENOME_GFF
            - GENOME_GBFF
            - GENOME_GTF
            - PROT_FASTA
            - RNA_FASTA
            - CDS_FASTA
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AnnotationForAssemblyType'
          type: array
        style: form
      - description: Set to DATA_REPORT_ONLY, to only retrieve data-reports.
        explode: true
        in: query
        name: hydrated
        required: false
        schema:
          $ref: '#/components/schemas/v1AssemblyDatasetRequestResolution'
        style: form
      - description: Output file name.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          default: ncbi_dataset.zip
          type: string
        style: form
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a genome dataset by accession
      tags:
      - Genome
  /genome/download:
    post:
      description: The 'GET' version of download is limited by the size of the GET
        URL (2KB, which works out to about 140 genomic accessions).  The POST operation
        is provided to allow users to supply a larger number of accessions in a single
        request.
      operationId: download_assembly_package_post
      parameters:
      - description: Output file name.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          default: ncbi_dataset.zip
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              accessions:
              - GCF_000001405.39
            schema:
              $ref: '#/components/schemas/v1AssemblyDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a genome dataset by post
      tags:
      - Genome
  /gene/id/{gene_ids}/download:
    get:
      description: Get a gene dataset including gene, transcript and protein fasta
        sequence, annotation and metadata by gene ID.
      operationId: download_gene_package
      parameters:
      - description: NCBI gene ids
        examples:
          example-0:
            summary: IL21 GeneID
            value: 59067
          example-1:
            summary: IL21 & IL21R GeneIDs
            value:
            - 59067
            - 50615
        explode: false
        in: path
        name: gene_ids
        required: true
        schema:
          items:
            type: integer
          type: array
        style: simple
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1Fasta'
          type: array
        style: form
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions
        explode: true
        in: query
        name: fasta_filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Output file name.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          default: ncbi_dataset.zip
          type: string
        style: form
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a gene dataset by gene ID
      tags:
      - Gene
  /gene/download:
    post:
      description: Get a gene dataset including gene, transcript and protein fasta
        sequence, annotation and metadata by POST.
      operationId: download_gene_package_post
      parameters:
      - description: Output file name.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          default: ncbi_dataset.zip
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              gene_ids:
              - 59067
              - 50615
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a gene dataset by POST
      tags:
      - Gene
  /protein/accession/{accessions}/download:
    get:
      description: Get a prokaryote gene dataset including gene and protein fasta
        sequence, annotation and metadata by prokaryote protein accession.
      operationId: download_prokaryote_gene_package
      parameters:
      - description: WP prokaryote protein accession
        examples:
          example-0:
            summary: DNA-deoxyinosine glycosylase
            value: WP_015878339.1
          example-1:
            summary: type II CRISPR RNA-guided endonuclease Cas9
            value: WP_001040085.1
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        examples:
          example-0:
            summary: Gene range FASTA
            value: FASTA_GENE
          example-1:
            summary: Transcript & protein sequence FASTA
            value:
            - FASTA_RNA
            - FASTA_PROTEIN
          example-2:
            summary: All annotation
            value:
            - FASTA_GENE
            - FASTA_RNA
            - FASTA_PROTEIN
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1Fasta'
          type: array
        style: form
      - explode: true
        in: query
        name: gene_flank_config.length
        required: false
        schema:
          type: integer
        style: form
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank When specified, return data from this taxon and its subtree
        explode: true
        in: query
        name: taxon
        required: false
        schema:
          type: string
        style: form
      - description: Output file name.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          default: ncbi_dataset.zip
          type: string
        style: form
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a prokaryote gene dataset by RefSeq protein accession
      tags:
      - Prokaryote
  /protein/accession/download:
    post:
      description: Get a prokaryote gene dataset including gene and protein fasta
        sequence, annotation and metadata by prokaryote protein accession by POST.
      operationId: download_prokaryote_gene_package_post
      parameters:
      - description: Output file name.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          default: ncbi_dataset.zip
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              accessions:
              - WP_000000001.1
              - WP_000000002.1
            schema:
              $ref: '#/components/schemas/v1ProkaryoteGeneRequest'
        required: true
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a prokaryote gene dataset by RefSeq protein accession by POST
      tags:
      - Prokaryote
  /genome/accession/{accessions}/check:
    get:
      description: The 'GET' version of check is limited by the size of the GET URL
        (2KB, which works out to about 140 genomic accessions).  The POST operation
        is provided to allow users to supply a larger number of accessions in a single
        request.
      operationId: check_assembly_availability
      parameters:
      - description: NCBI genome assembly accessions
        examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.39
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.39
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyDatasetAvailability'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Check the validity of genome accessions
      tags:
      - Genome
  /genome/check:
    post:
      description: The 'GET' version of check is limited by the size of the GET URL
        (2KB, which works out to about 140 genomic accessions).  The POST operation
        is provided to allow users to supply a larger number of accessions in a single
        request.
      operationId: check_assembly_availability_post
      requestBody:
        content:
          application/json:
            example:
              accessions:
              - GCF_000001405.39
            schema:
              $ref: '#/components/schemas/v1AssemblyDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssemblyDatasetAvailability'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Check the validity of many genome accessions in a single request
      tags:
      - Genome
  /version:
    get:
      description: Retrieve the latest version of the Datasets services.
      operationId: version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1VersionReply'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Retrieve service version
      tags:
      - Version
  /gene/id/{gene_ids}:
    get:
      description: Get detailed gene metadata by GeneID in a JSON output format.
      operationId: gene_metadata_by_id
      parameters:
      - description: NCBI gene ids
        examples:
          example-0:
            summary: IL21 GeneID
            value: 59067
          example-1:
            summary: IL21 & IL21R GeneIDs
            value:
            - 59067
            - 50615
        explode: false
        in: path
        name: gene_ids
        required: true
        schema:
          items:
            type: integer
          type: array
        style: simple
      - description: Return either gene-ids, or entire gene metadata
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestContentType'
        style: form
      - description: Select a field to sort on.
        explode: true
        in: query
        name: sort_schema.field
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestSortField'
        style: form
      - description: Select a direction for the sort.
        explode: true
        in: query
        name: sort_schema.direction
        required: false
        schema:
          $ref: '#/components/schemas/v1SortDirection'
        style: form
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata by GeneID
      tags:
      - Gene
  /gene/accession/{accessions}:
    get:
      description: Get detailed gene metadata by RefSeq Accession in a JSON output
        format.
      operationId: gene_metadata_by_accession
      parameters:
      - description: RNA or Protein accessions.
        examples:
          example-0:
            summary: RefSeq transcripts
            value:
            - NM_021803.4
            - NM_181078.3
          example-1:
            summary: RefSeq proteins
            value:
            - NP_068575.1
            - NP_851564.1
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Return either gene-ids, or entire gene metadata
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestContentType'
        style: form
      - description: Select a field to sort on.
        explode: true
        in: query
        name: sort_schema.field
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestSortField'
        style: form
      - description: Select a direction for the sort.
        explode: true
        in: query
        name: sort_schema.direction
        required: false
        schema:
          $ref: '#/components/schemas/v1SortDirection'
        style: form
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata by RefSeq Accession
      tags:
      - Gene
  /gene/symbol/{symbols}/taxon/{taxon}:
    get:
      description: Get detailed gene metadata by gene symbol in a JSON output format.
      operationId: gene_metadata_by_tax_and_symbol
      parameters:
      - description: RNA or Protein accessions.
        examples:
          example-0:
            summary: RefSeq transcripts
            value:
            - NM_021803.4
            - NM_181078.3
          example-1:
            summary: RefSeq proteins
            value:
            - NP_068575.1
            - NP_851564.1
        explode: true
        in: query
        name: accessions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Gene symbol
        examples:
          example-0:
            summary: GNAS
            value: GNAS
        explode: false
        in: path
        name: symbols
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Taxon for provided gene symbol
        examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value: 9606
          example-1:
            summary: Common Name
            value: human
          example-2:
            summary: Scientific Name
            value: Homo sapiens
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: Return either gene-ids, or entire gene metadata
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestContentType'
        style: form
      - description: Select a field to sort on.
        explode: true
        in: query
        name: sort_schema.field
        required: false
        schema:
          $ref: '#/components/schemas/v1GeneDatasetRequestSortField'
        style: form
      - description: Select a direction for the sort.
        explode: true
        in: query
        name: sort_schema.direction
        required: false
        schema:
          $ref: '#/components/schemas/v1SortDirection'
        style: form
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata by gene symbol
      tags:
      - Gene
  /gene:
    post:
      description: Get detailed gene metadata in a JSON output format.
      operationId: gene_metadata_by_post
      requestBody:
        content:
          application/json:
            example:
              gene_ids:
              - 59067
              - 50615
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GeneMetadata'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata as JSON
      tags:
      - Gene
  /gene/stream:
    post:
      description: Get detailed gene metadata in a streaming, JSON-lines output format.
      operationId: gene_metadata_stream_by_post
      requestBody:
        content:
          application/json:
            example:
              gene_ids:
              - 59067
              - 50615
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v1GeneMatch'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata
      tags:
      - Gene
  /gene/id/{gene_ids}/download_summary:
    get:
      description: Get a download summary by GeneID in a JSON output format.
      operationId: gene_download_summary_by_id
      parameters:
      - description: NCBI gene ids
        examples:
          example-0:
            summary: IL21 GeneID
            value: 59067
          example-1:
            summary: IL21 & IL21R GeneIDs
            value:
            - 59067
            - 50615
        explode: false
        in: path
        name: gene_ids
        required: true
        schema:
          items:
            type: integer
          type: array
        style: simple
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions
        explode: true
        in: query
        name: fasta_filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary by GeneID
      tags:
      - Gene
  /gene/accession/{accessions}/download_summary:
    get:
      description: Get gene download summary by RefSeq Accession in a JSON output
        format.
      operationId: gene_download_summary_by_accession
      parameters:
      - description: RNA or Protein accessions.
        examples:
          example-0:
            summary: RefSeq transcripts
            value:
            - NM_021803.4
            - NM_181078.3
          example-1:
            summary: RefSeq proteins
            value:
            - NP_068575.1
            - NP_851564.1
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions
        explode: true
        in: query
        name: fasta_filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary by RefSeq Accession
      tags:
      - Gene
  /gene/symbol/{symbols}/taxon/{taxon}/download_summary:
    get:
      description: Get gene download summary by gene symbol in a JSON output format.
      operationId: gene_download_summary_by_tax_and_symbol
      parameters:
      - description: Gene symbol
        examples:
          example-0:
            summary: GNAS
            value: GNAS
        explode: false
        in: path
        name: symbols
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Taxon for provided gene symbol
        examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value: 9606
          example-1:
            summary: Common Name
            value: human
          example-2:
            summary: Scientific Name
            value: Homo sapiens
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions
        explode: true
        in: query
        name: fasta_filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary by gene symbol
      tags:
      - Gene
  /gene/download_summary:
    post:
      description: Get gene download summary in a JSON output format.
      operationId: gene_download_summary_by_post
      requestBody:
        content:
          application/json:
            example:
              gene_ids:
              - 59067
              - 50615
            schema:
              $ref: '#/components/schemas/v1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary
      tags:
      - Gene
  /gene/id/{gene_id}/orthologs:
    get:
      description: Get detailed gene metadata for an ortholog set by gene ID in a
        JSON output format.
      operationId: gene_orthologs_by_id
      parameters:
      - examples:
          example-0:
            summary: GNAS
            value: 2778
          example-1:
            summary: A2M
            value: 2
        explode: false
        in: path
        name: gene_id
        required: true
        schema:
          type: integer
        style: simple
      - description: Return either gene-ids, or entire gene metadata
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v1OrthologRequestContentType'
        style: form
      - description: Filter genes by taxa
        examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value:
            - 9606
            - 10090
          example-1:
            summary: Common Name
            value:
            - human
            - house mouse
          example-2:
            summary: Scientific Name
            value:
            - homo sapiens
            - mus musculus
        explode: true
        in: query
        name: taxon_filter
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OrthologSet'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene orthologs by gene ID
      tags:
      - Gene
  /gene/taxon/{taxon}/tree:
    get:
      description: Using an NCBI Taxonomy ID or name (common or scientific) at any
        rank, get a subtree filtered for species with assembled genomes.
      operationId: gene_tax_tree
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value: 9606
          example-1:
            summary: Common Name
            value: human
          example-2:
            summary: Scientific Name
            value: Homo sapiens
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: Only report the children of the requested taxon and not their
          descendants
        explode: true
        in: query
        name: children_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Organism'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a taxonomic subtree by taxonomic identifier
      tags:
      - Gene
  /gene/taxon_suggest/{taxon_query}:
    get:
      description: This endpoint retrieves a list of taxonomy names and IDs found
        in the gene dataset given a partial taxonomic name of any rank.
      operationId: gene_tax_name_query
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: hum
            value: hum
        explode: false
        in: path
        name: taxon_query
        required: true
        schema:
          type: string
        style: simple
      - description: Set the scope of searched tax ranks
        explode: true
        in: query
        name: tax_rank_filter
        required: false
        schema:
          $ref: '#/components/schemas/v1OrganismQueryRequestTaxRankFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SciNameAndIds'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a list of taxonomy names and IDs found in the gene dataset given
        a partial taxonomic name
      tags:
      - Gene
  /taxonomy/taxon/{taxons}:
    get:
      description: Using NCBI Taxonomy IDs or names (common or scientific) at any
        rank, get metadata about a taxonomic node including taxonomic identifiers,
        lineage information, child nodes, and gene and genome counts in JSON format.
      operationId: taxonomy_metadata
      parameters:
      - examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value:
            - 9606
            - 10090
          example-1:
            summary: Common Name
            value:
            - human
            - mouse
          example-2:
            summary: Scientific Name
            value:
            - Homo sapiens
            - Mus musculus
        explode: false
        in: path
        name: taxons
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Return either tax-ids alone, or entire taxononmy-metadata records
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v1TaxonomyMetadataRequestContentType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyMetadataResponse'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Use taxonomic identifiers to get taxonomic metadata
      tags:
      - Taxonomy
  /taxonomy:
    post:
      description: Using NCBI Taxonomy IDs or names (common or scientific) at any
        rank, get metadata about a taxonomic node including taxonomic identifiers,
        lineage information, child nodes, and gene and genome counts in JSON format.
      operationId: taxonomy_metadata_post
      requestBody:
        content:
          application/json:
            example:
              taxons:
              - 9606
              - mouse
            schema:
              $ref: '#/components/schemas/v1TaxonomyMetadataRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyMetadataResponse'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Use taxonomic identifiers to get taxonomic metadata by post
      tags:
      - Taxonomy
  /taxonomy/taxon/{taxons}/filtered_subtree:
    get:
      description: Using NCBI Taxonomy IDs or names (common or scientific) at any
        rank, get a filtered taxonomic subtree that includes the full parent lineage
        and all immediate children from the selected taxonomic ranks in JSON format.
      operationId: taxonomy_filtered_subtree
      parameters:
      - examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value:
            - 9606
            - 10090
          example-1:
            summary: Common Name
            value:
            - human
            - mouse
          example-2:
            summary: Scientific Name
            value:
            - Homo sapiens
            - Mus musculus
        explode: false
        in: path
        name: taxons
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: Limit to specified species
        explode: true
        in: query
        name: specified_limit
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit to the provided ranks.  If empty, accept any rank.
        explode: true
        in: query
        name: rank_limits
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1OrganismRankType'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyFilteredSubtreeResponse'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Use taxonomic identifiers to get a filtered taxonomic subtree
      tags:
      - Taxonomy
  /taxonomy/filtered_subtree:
    post:
      description: Using NCBI Taxonomy IDs or names (common or scientific) at any
        rank, get a filtered taxonomic subtree that includes the full parent lineage
        and all immediate children from the selected taxonomic ranks in JSON format.
      operationId: taxonomy_filtered_subtree_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1TaxonomyFilteredSubtreeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TaxonomyFilteredSubtreeResponse'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Use taxonomic identifiers to get a filtered taxonomic subtree by post
      tags:
      - Taxonomy
  /taxonomy/taxon_suggest/{taxon_query}:
    get:
      description: This endpoint retrieves a list of taxonomy names and IDs given
        a partial taxonomic name of any rank.
      operationId: tax_name_query
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: hum
            value: hum
        explode: false
        in: path
        name: taxon_query
        required: true
        schema:
          type: string
        style: simple
      - description: Set the scope of searched tax ranks
        explode: true
        in: query
        name: tax_rank_filter
        required: false
        schema:
          $ref: '#/components/schemas/v1OrganismQueryRequestTaxRankFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SciNameAndIds'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a list of taxonomy names and IDs given a partial taxonomic name
      tags:
      - Taxonomy
  /virus/taxon/{taxon}/genome:
    get:
      description: Get summary data and download by command line instructions for
        Coronaviridae genomes by taxon.
      operationId: virus_genome_summary
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: SARS-COV-2
            value: 2697049
          example-1:
            summary: Coronaviridae
            value: 11118
          example-2:
            summary: MERS
            value: 1335626
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: If true, limit results to RefSeq genomes.
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: true
          example-1:
            summary: Both GenBank & RefSeq genomes
            value: false
        explode: true
        in: query
        name: refseq_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If true, limit results to annotated genomes.
        examples:
          example-0:
            summary: Limit to annotated genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: annotated_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as '2020-04-01T00:00:00.000Z'
        examples:
          example-0:
            summary: August 1, 2020
            value: 2020-08-01
        explode: true
        in: query
        name: released_since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name) All hosts by default
        examples:
          example-0:
            summary: human
            value: human
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - description: If set, limit results to genomes classified to this lineage by
          the PangoLearn tool.
        explode: true
        in: query
        name: pangolin_classification
        required: false
        schema:
          type: string
        style: form
      - description: Assemblies from this location (country and state, or continent)
        examples:
          example-0:
            summary: USA
            value: USA
          example-1:
            summary: Texas
            value: TX
        explode: true
        in: query
        name: geo_location
        required: false
        schema:
          type: string
        style: form
      - description: only include complete genomes.
        examples:
          example-0:
            summary: Limit to complete genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: complete_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Set to true to omit the genomic sequence.
        examples:
          example-0:
            summary: Exclude genomic sequence
            value: true
          example-1:
            summary: Include genomic sequence
            value: false
        explode: true
        in: query
        name: exclude_sequence
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        examples:
          example-0:
            summary: Transcript & protein sequence
            value:
            - CDS_FASTA
            - PROT_FASTA
          example-1:
            summary: All annotation
            value:
            - GENOME_GBFF
            - GENOME_GPFF
            - PDB_FILES
            - CDS_FASTA
            - PROT_FASTA
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AnnotationForVirusType'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get summary data for Coronaviridae genomes by taxon
      tags:
      - Virus
  /virus/taxon/sars2/protein/{proteins}:
    get:
      description: Download a summary of available SARS-CoV-2 protein datasets
      operationId: sars2_protein_summary
      parameters:
      - description: Which proteins to retrieve in the data package
        examples:
          example-0:
            summary: Spike Protein
            value: spike protein
          example-1:
            summary: SARS-CoV-2 proteins
            value:
            - spike protein
            - envelope protein
            - RdRp
        explode: false
        in: path
        name: proteins
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: If true, limit results to RefSeq genomes.
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: true
          example-1:
            summary: Both GenBank & RefSeq genomes
            value: false
        explode: true
        in: query
        name: refseq_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If true, limit results to annotated genomes.
        examples:
          example-0:
            summary: Limit to annotated genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: annotated_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as '2020-04-01T00:00:00.000Z'
        examples:
          example-0:
            summary: August 1, 2020
            value: 2020-08-01
        explode: true
        in: query
        name: released_since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name) All hosts by default
        examples:
          example-0:
            summary: human
            value: human
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - description: Assemblies from this location (country and state, or continent)
        examples:
          example-0:
            summary: USA
            value: USA
          example-1:
            summary: Texas
            value: TX
        explode: true
        in: query
        name: geo_location
        required: false
        schema:
          type: string
        style: form
      - description: only include complete genomes.
        examples:
          example-0:
            summary: Limit to complete genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: complete_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        examples:
          example-0:
            summary: Transcript & protein sequence
            value:
            - CDS_FASTA
            - PROT_FASTA
          example-1:
            summary: All annotation
            value:
            - GENOME_GPFF
            - PDB_FILES
            - CDS_FASTA
            - PROT_FASTA
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AnnotationForVirusType'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DownloadSummary'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Summary of SARS-CoV-2 protein and CDS datasets by protein name
      tags:
      - Virus
  /virus/taxon/{taxon}/genome/table:
    get:
      description: Get viral genomic metadata in tabular format for Coronaviridae
        genomes by taxon.
      operationId: virus_genome_table
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: SARS-COV-2
            value: 2697049
          example-1:
            summary: Coronaviridae
            value: 11118
          example-2:
            summary: MERS
            value: 1335626
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: If true, limit results to RefSeq genomes.
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: true
          example-1:
            summary: Both GenBank & RefSeq genomes
            value: false
        explode: true
        in: query
        name: refseq_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If true, limit results to annotated genomes.
        examples:
          example-0:
            summary: Limit to annotated genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: annotated_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as '2020-04-01T00:00:00.000Z'
        examples:
          example-0:
            summary: August 1, 2020
            value: 2020-08-01
        explode: true
        in: query
        name: released_since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name) All hosts by default
        examples:
          example-0:
            summary: human
            value: human
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - description: If set, limit results to genomes classified to this lineage by
          the PangoLearn tool.
        explode: true
        in: query
        name: pangolin_classification
        required: false
        schema:
          type: string
        style: form
      - description: Assemblies from this location (country and state, or continent)
        examples:
          example-0:
            summary: USA
            value: USA
          example-1:
            summary: Texas
            value: TX
        explode: true
        in: query
        name: geo_location
        required: false
        schema:
          type: string
        style: form
      - description: only include complete genomes.
        examples:
          example-0:
            summary: Limit to complete genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: complete_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Specify which fields to include in the tabular report
        examples:
          example-0:
            summary: Assembly Fields
            value:
            - nucleotide_accession
            - nucleotide_length
            - nuc_completeness
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1VirusTableField'
          type: array
        style: form
      - description: Choose download format (tsv, csv or jsonl)
        examples:
          example-0:
            summary: TSV
            value: tsv
          example-1:
            summary: CSV
            value: csv
          example-2:
            summary: JSON Lines
            value: jsonl
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: '#/components/schemas/v1TableFormat'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TabularOutput'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get viral genomic metadata in a tabular format.
      tags:
      - Virus
  /virus/taxon/sars2/protein/{proteins}/table:
    get:
      description: Get protein metadata in tabular format for SARS-CoV-2 genomes.
      operationId: sars2_protein_table
      parameters:
      - description: Which proteins to retrieve in the data package
        examples:
          example-0:
            summary: Spike Protein
            value: spike protein
          example-1:
            summary: SARS-CoV-2 proteins
            value:
            - spike protein
            - envelope protein
            - RdRp
        explode: false
        in: path
        name: proteins
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: If true, limit results to RefSeq genomes.
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: true
          example-1:
            summary: Both GenBank & RefSeq genomes
            value: false
        explode: true
        in: query
        name: refseq_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If true, limit results to annotated genomes.
        examples:
          example-0:
            summary: Limit to annotated genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: annotated_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as '2020-04-01T00:00:00.000Z'
        examples:
          example-0:
            summary: August 1, 2020
            value: 2020-08-01
        explode: true
        in: query
        name: released_since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name) All hosts by default
        examples:
          example-0:
            summary: human
            value: human
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - description: Assemblies from this location (country and state, or continent)
        examples:
          example-0:
            summary: USA
            value: USA
          example-1:
            summary: Texas
            value: TX
        explode: true
        in: query
        name: geo_location
        required: false
        schema:
          type: string
        style: form
      - description: only include complete genomes.
        examples:
          example-0:
            summary: Limit to complete genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: complete_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Specify which fields to include in the tabular report
        examples:
          example-0:
            summary: Assembly Fields
            value:
            - nucleotide_accession
            - nucleotide_length
            - nuc_completeness
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1VirusTableField'
          type: array
        style: form
      - description: Choose download format (tsv, csv or jsonl)
        examples:
          example-0:
            summary: TSV
            value: tsv
          example-1:
            summary: CSV
            value: csv
          example-2:
            summary: JSON Lines
            value: jsonl
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: '#/components/schemas/v1TableFormat'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TabularOutput'
          description: A successful response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get SARS-CoV-2 protein metadata in a tabular format.
      tags:
      - Virus
  /virus/taxon/{taxon}/genome/download:
    get:
      description: Download a Coronavirus genome datasets by taxon
      operationId: virus_genome_download
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: SARS-COV-2
            value: 2697049
          example-1:
            summary: Coronaviridae
            value: 11118
          example-2:
            summary: MERS
            value: 1335626
        explode: false
        in: path
        name: taxon
        required: true
        schema:
          type: string
        style: simple
      - description: If true, limit results to RefSeq genomes.
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: true
          example-1:
            summary: Both GenBank & RefSeq genomes
            value: false
        explode: true
        in: query
        name: refseq_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If true, limit results to annotated genomes.
        examples:
          example-0:
            summary: Limit to annotated genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: annotated_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as '2020-04-01T00:00:00.000Z'
        examples:
          example-0:
            summary: August 1, 2020
            value: 2020-08-01
        explode: true
        in: query
        name: released_since
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name) All hosts by default
        examples:
          example-0:
            summary: human
            value: human
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      - description: If set, limit results to genomes classified to this lineage by
          the PangoLearn tool.
        explode: true
        in: query
        name: pangolin_classification
        required: false
        schema:
          type: string
        style: form
      - description: Assemblies from this location (country and state, or continent)
        examples:
          example-0:
            summary: USA
            value: USA
          example-1:
            summary: Texas
            value: TX
        explode: true
        in: query
        name: geo_location
        required: false
        schema:
          type: string
        style: form
      - description: only include complete genomes.
        examples:
          example-0:
            summary: Limit to complete genomes
            value: true
          example-1:
            summary: All genomes
            value: false
        explode: true
        in: query
        name: complete_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Set to true to omit the genomic sequence.
        examples:
          example-0:
            summary: Exclude genomic sequence
            value: true
          example-1:
            summary: Include genomic sequence
            value: false
        explode: true
        in: query
        name: exclude_sequence
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        examples:
          example-0:
            summary: Transcript & protein sequence
            value:
            - CDS_FASTA
            - PROT_FASTA
          example-1:
            summary: All annotation
            value:
            - GENOME_GBFF
            - GENOME_GPFF
            - PDB_FILES
            - CDS_FASTA
            - PROT_FASTA
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v1AnnotationForVirusType'
          type: array
        style: form
      - description: Output file name.
        explode: true
        in: query
        name: filename
        required: false
        schema:
          default: ncbi_dataset.zip
          type: string
        style: form
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Download Coronavirus genome datasets by taxon
      tags:
      - Virus
  /virus/taxon/sars2/protein/{proteins}/download:
    get:
      description: Download a SARS-CoV-2 protein datasets
      operationId: sars2_protein_download
      parameters:
      - description: Which proteins to retrieve in the data package
        examples:
          example-0:
            summary: Spike Protein
            value: spike protein
          example-1:
            summary: SARS-CoV-2 proteins
            value:
            - spike protein
            - envelope protein
            - RdRp
        explode: false
        in: path
        name: proteins
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: If true, limit results to RefSeq genomes.
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: true
          example-1:
            summary: Both GenBank & RefSeq genomes
            value: false
        explode: true
        in: query
        name: refseq_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
[...]
