openapi: 3.0.1
info:
  description: NCBI service to query and download biological sequence data across
    all domains of life from NCBI databases.
  title: NCBI Datasets API
  version: v1alpha
externalDocs:
  description: Interactively explore genome assembly datasets
  url: https://www.ncbi.nlm.nih.gov/datasets/genomes/
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v1alpha
security:
- ApiKeyAuthHeader: []
tags:
- description: Options to explore, summarize and download assembled genomes, including
    the associated sequence, metadata and annotation.
  name: Genome
- description: Options to explore, summarize and download sequences and metadata for
    genes and their associated transcripts and proteins.
  name: Gene
- description: Options to explore, summarize and download sequences and metadata for
    prokaryote genes and their associated proteins.
  name: Prokaryote
- description: Options to summarize and download sequences SARS-CoV-2 and coronavirus
    genome and protein sequence, annotation and metadata.
  name: Virus
paths:
  /gene:
    post:
      description: Get detailed gene metadata in a JSON output format.
      operationId: gene_metadata_by_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1GeneMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata as JSON
      tags:
      - Gene
      x-codegen-request-body-name: body
  /gene/accession/{accessions}:
    get:
      description: Get detailed gene metadata by RefSeq Accession in a JSON output
        format.
      operationId: gene_metadata_by_accession
      parameters:
      - description: RNA or Protein accessions.
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: Return either gene-ids, or entire gene metadata.
        in: query
        name: returned_content
        schema:
          default: COMPLETE
          enum:
          - COMPLETE
          - IDS_ONLY
          type: string
      - description: Select a field to sort on.
        in: query
        name: sort_schema.field
        schema:
          default: SORT_FIELD_UNSPECIFIED
          enum:
          - SORT_FIELD_UNSPECIFIED
          - SORT_FIELD_GENE_ID
          - SORT_FIELD_GENE_TYPE
          - SORT_FIELD_GENE_SYMBOL
          type: string
      - description: Select a direction for the sort.
        in: query
        name: sort_schema.direction
        schema:
          default: SORT_DIRECTION_UNSPECIFIED
          enum:
          - SORT_DIRECTION_UNSPECIFIED
          - SORT_DIRECTION_ASCENDING
          - SORT_DIRECTION_DESCENDING
          type: string
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value).
        in: query
        name: limit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1GeneMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata by RefSeq Accession
      tags:
      - Gene
  /gene/accession/{accessions}/download_summary:
    get:
      description: Get gene download summary by RefSeq Accession in a JSON output
        format.
      operationId: gene_download_summary_by_accession
      parameters:
      - description: RNA or Protein accessions.
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value).
        in: query
        name: limit
        schema:
          type: string
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions.
        explode: true
        in: query
        name: fasta_filter
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary by RefSeq Accession
      tags:
      - Gene
  /gene/download:
    post:
      description: Get a gene dataset including gene, transcript and protein fasta
        sequence, annotation and metadata by POST.
      operationId: download_gene_package_post
      parameters:
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected gene data as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a gene dataset by POST
      tags:
      - Gene
      x-codegen-request-body-name: body
  /gene/download_summary:
    post:
      description: Get gene download summary in a JSON output format.
      operationId: gene_download_summary_by_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary
      tags:
      - Gene
      x-codegen-request-body-name: body
  /gene/id/{gene_ids}:
    get:
      description: Get detailed gene metadata by GeneID in a JSON output format.
      operationId: gene_metadata_by_id
      parameters:
      - description: NCBI gene ids
        explode: false
        in: path
        name: gene_ids
        required: true
        schema:
          items:
            format: int64
            type: integer
          minItems: 1
          type: array
        style: simple
      - description: Return either gene-ids, or entire gene metadata.
        in: query
        name: returned_content
        schema:
          default: COMPLETE
          enum:
          - COMPLETE
          - IDS_ONLY
          type: string
      - description: Select a field to sort on.
        in: query
        name: sort_schema.field
        schema:
          default: SORT_FIELD_UNSPECIFIED
          enum:
          - SORT_FIELD_UNSPECIFIED
          - SORT_FIELD_GENE_ID
          - SORT_FIELD_GENE_TYPE
          - SORT_FIELD_GENE_SYMBOL
          type: string
      - description: Select a direction for the sort.
        in: query
        name: sort_schema.direction
        schema:
          default: SORT_DIRECTION_UNSPECIFIED
          enum:
          - SORT_DIRECTION_UNSPECIFIED
          - SORT_DIRECTION_ASCENDING
          - SORT_DIRECTION_DESCENDING
          type: string
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value).
        in: query
        name: limit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1GeneMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata by GeneID
      tags:
      - Gene
  /gene/id/{gene_ids}/download:
    get:
      description: Get a gene dataset including gene, transcript and protein fasta
        sequence, annotation and metadata by gene ID.
      operationId: download_gene_package
      parameters:
      - description: NCBI gene ids
        explode: false
        in: path
        name: gene_ids
        required: true
        schema:
          items:
            format: int64
            type: integer
          minItems: 1
          type: array
        style: simple
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - FASTA_GENE
            - FASTA_RNA
            - FASTA_PROTEIN
            type: string
          type: array
        style: form
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions.
        explode: true
        in: query
        name: fasta_filter
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected gene data as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a gene dataset by gene ID
      tags:
      - Gene
  /gene/id/{gene_ids}/download_summary:
    get:
      description: Get a download summary by GeneID in a JSON output format.
      operationId: gene_download_summary_by_id
      parameters:
      - description: NCBI gene ids
        explode: false
        in: path
        name: gene_ids
        required: true
        schema:
          items:
            format: int64
            type: integer
          minItems: 1
          type: array
        style: simple
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value).
        in: query
        name: limit
        schema:
          type: string
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions.
        explode: true
        in: query
        name: fasta_filter
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary by GeneID
      tags:
      - Gene
  /gene/id/{gene_id}/orthologs:
    get:
      description: Get detailed gene metadata for an ortholog set by gene ID in a
        JSON output format.
      operationId: gene_orthologs_by_id
      parameters:
      - in: path
        name: gene_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Return either gene-ids, or entire gene metadata.
        in: query
        name: returned_content
        schema:
          default: COMPLETE
          enum:
          - COMPLETE
          - IDS_ONLY
          type: string
      - description: Filter genes by taxa.
        explode: true
        in: query
        name: taxon_filter
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1OrthologSet'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene orthologs by gene ID
      tags:
      - Gene
  /gene/stream:
    post:
      description: Get detailed gene metadata in a streaming, JSON-lines output format.
      operationId: gene_metadata_stream_by_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1GeneDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v1alpha1GeneMatch'
          description: Successful request, returning a stream of individual JSON Text
            payloads.
          headers:
            Transfer-Encoding:
              description: chunked
              schema:
                type: object
        default:
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata
      tags:
      - Gene
      x-codegen-request-body-name: body
  /gene/symbol/{symbols}/taxon/{taxon}:
    get:
      description: Get detailed gene metadata by gene symbol in a JSON output format.
      operationId: gene_metadata_by_tax_and_symbol
      parameters:
      - explode: false
        in: path
        name: symbols
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - in: path
        name: taxon
        required: true
        schema:
          type: string
      - description: Return either gene-ids, or entire gene metadata.
        in: query
        name: returned_content
        schema:
          default: COMPLETE
          enum:
          - COMPLETE
          - IDS_ONLY
          type: string
      - description: Select a field to sort on.
        in: query
        name: sort_schema.field
        schema:
          default: SORT_FIELD_UNSPECIFIED
          enum:
          - SORT_FIELD_UNSPECIFIED
          - SORT_FIELD_GENE_ID
          - SORT_FIELD_GENE_TYPE
          - SORT_FIELD_GENE_SYMBOL
          type: string
      - description: Select a direction for the sort.
        in: query
        name: sort_schema.direction
        schema:
          default: SORT_DIRECTION_UNSPECIFIED
          enum:
          - SORT_DIRECTION_UNSPECIFIED
          - SORT_DIRECTION_ASCENDING
          - SORT_DIRECTION_DESCENDING
          type: string
      - description: Limit the number of returned results ("all", "none", otherwise
          an integer value).
        in: query
        name: limit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1GeneMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene metadata by gene symbol.
      tags:
      - Gene
  /gene/symbol/{symbols}/taxon/{taxon}/download_summary:
    get:
      description: Get gene download summary by gene symbol in a JSON output format.
      operationId: gene_download_summary_by_tax_and_symbol
      parameters:
      - explode: false
        in: path
        name: symbols
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - in: path
        name: taxon
        required: true
        schema:
          type: string
      - description: Limit the FASTA sequences in the datasets package to these transcript
          and protein accessions.
        explode: true
        in: query
        name: fasta_filter
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get gene download summary by gene symbol.
      tags:
      - Gene
  /gene/taxon/{taxon}/tree:
    get:
      operationId: gene_tax_tree
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1Organism'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Retrieve tax tree
      tags:
      - Gene
  /gene/taxon_suggest/{taxon_query}:
    get:
      description: This endpoint retrieves a list of taxonomy names and IDs found
        in the gene dataset given a partial taxonomic name of any rank.
      operationId: gene_tax_name_query
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon_query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1SciNameAndIds'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a list of taxonomy names and IDs found in the gene dataset given
        a partial taxonomic name.
      tags:
      - Gene
  /genome:
    post:
      description: Get detailed metadata for assembled genomes by accession in a JSON
        output format.
      operationId: genome_metadata_by_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1AssemblyMetadataRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1AssemblyMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by accession
      tags:
      - Genome
      x-codegen-request-body-name: body
  /genome/accession/{accessions}:
    get:
      description: Get detailed metadata for assembled genomes by accession in a JSON
        output format.
      operationId: assembly_descriptors_by_accessions
      parameters:
      - explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: If true, only return reference and representative (GCF_ and GCA_)
          genome assemblies.
        in: query
        name: filters.reference_only
        schema:
          type: boolean
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies.
        in: query
        name: filters.assembly_source
        schema:
          default: all
          enum:
          - all
          - refseq
          - genbank
          type: string
      - description: Return only annotated genome assemblies.
        in: query
        name: filters.has_annotation
        schema:
          type: boolean
      - description: Only return genome assemblies that have one of the specified
          assembly levels.
        explode: true
        in: query
        name: filters.assembly_level
        schema:
          items:
            enum:
            - chromosome
            - scaffold
            - contig
            - complete_genome
            type: string
          type: array
        style: form
      - description: Only return genome assemblies that were released on or after
          the specified date.
        in: query
        name: filters.first_release_date
        schema:
          format: date-time
          type: string
      - description: Only return genome assemblies that were released on or before
          to the specified date.
        in: query
        name: filters.last_release_date
        schema:
          format: date-time
          type: string
      - description: Only return results whose fields contain the specified search
          terms in their taxon, infraspecific, assembly name or submitter fields.
        explode: true
        in: query
        name: filters.search_text
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The maximum number of genome assemblies to return. Default is
          20 and maximum is 1000. If the number of results exceeds the page size,  `page_token`
          can be used to retrieve the remaining results.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: A page token is returned from an `AssemblyMetadataRequest` call
          with more than `page_size` results. Use this token, along with the previous  `AssemblyMetadataRequest`
          parameters, to retrieve the next page of results. When `page_token` is empty,
          all results have been retrieved.
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1AssemblyMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by accession
      tags:
      - Genome
  /genome/accession/{accessions}/check:
    get:
      description: The 'GET' version of check is limited by the size of the GET URL
        (2KB, which works out to about 140 genomic accessions).  The POST operation
        is provided to allow users to supply a larger number of accessions in a single
        request.
      operationId: check_assembly_availability
      parameters:
      - description: NCBI genome assembly accessions
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1AssemblyDatasetAvailability'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Check the validity of genome accessions
      tags:
      - Genome
  /genome/accession/{accessions}/download:
    get:
      description: Download a genome dataset including fasta sequence, annotation
        and a detailed data report by accession.
      operationId: download_assembly_package
      parameters:
      - description: NCBI genome assembly accessions
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: The default setting is all chromosome. Specify individual chromosome
          by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like
          their own chromosome ('Un'). The filter only applies to fasta sequence.
        explode: true
        in: query
        name: chromosomes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set to true to omit the genomic sequence.
        in: query
        name: exclude_sequence
        schema:
          type: boolean
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - GENOME_GFF
            - GENOME_GBFF
            - RNA_FASTA
            - PROT_FASTA
            - GENOME_GTF
            type: string
          type: array
        style: form
      - description: Set to DATA_REPORT_ONLY, to only retrieve data-reports.
        in: query
        name: hydrated
        schema:
          default: FULLY_HYDRATED
          enum:
          - FULLY_HYDRATED
          - DATA_REPORT_ONLY
          type: string
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a genome dataset by accession
      tags:
      - Genome
  /genome/accession/{accessions}/download_summary:
    get:
      description: Get a download summary by accession in a JSON output format.
      operationId: genome_download_summary
      parameters:
      - description: NCBI genome assembly accessions
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: The default setting is all chromosome. Specify individual chromosome
          by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like
          their own chromosome ('Un'). The filter only applies to fasta sequence.
        explode: true
        in: query
        name: chromosomes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set to true to omit the genomic sequence.
        in: query
        name: exclude_sequence
        schema:
          type: boolean
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - GENOME_GFF
            - GENOME_GBFF
            - RNA_FASTA
            - PROT_FASTA
            - GENOME_GTF
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Preview genome dataset download
      tags:
      - Genome
  /genome/bioproject/{accessions}:
    get:
      description: Get detailed metadata for assembled genomes by bioproject accession
        in a JSON output format.
      operationId: assembly_descriptors_by_bioproject
      parameters:
      - explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: If true, only return reference and representative (GCF_ and GCA_)
          genome assemblies.
        in: query
        name: filters.reference_only
        schema:
          type: boolean
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies.
        in: query
        name: filters.assembly_source
        schema:
          default: all
          enum:
          - all
          - refseq
          - genbank
          type: string
      - description: Return only annotated genome assemblies.
        in: query
        name: filters.has_annotation
        schema:
          type: boolean
      - description: Only return genome assemblies that have one of the specified
          assembly levels.
        explode: true
        in: query
        name: filters.assembly_level
        schema:
          items:
            enum:
            - chromosome
            - scaffold
            - contig
            - complete_genome
            type: string
          type: array
        style: form
      - description: Only return genome assemblies that were released on or after
          the specified date.
        in: query
        name: filters.first_release_date
        schema:
          format: date-time
          type: string
      - description: Only return genome assemblies that were released on or before
          to the specified date.
        in: query
        name: filters.last_release_date
        schema:
          format: date-time
          type: string
      - description: Only return results whose fields contain the specified search
          terms in their taxon, infraspecific, assembly name or submitter fields.
        explode: true
        in: query
        name: filters.search_text
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Return either assembly accessions, or entire assembly-metadata
          records.
        in: query
        name: returned_content
        schema:
          default: COMPLETE
          enum:
          - COMPLETE
          - ASSM_ACC
          type: string
      - description: The maximum number of genome assemblies to return. Default is
          20 and maximum is 1000. If the number of results exceeds the page size,  `page_token`
          can be used to retrieve the remaining results.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: A page token is returned from an `AssemblyMetadataRequest` call
          with more than `page_size` results. Use this token, along with the previous  `AssemblyMetadataRequest`
          parameters, to retrieve the next page of results. When `page_token` is empty,
          all results have been retrieved.
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1AssemblyMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by bioproject accession
      tags:
      - Genome
  /genome/check:
    post:
      description: The 'GET' version of check is limited by the size of the GET URL
        (2KB, which works out to about 140 genomic accessions).  The POST operation
        is provided to allow users to supply a larger number of accessions in a single
        request.
      operationId: check_assembly_availability_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1AssemblyDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1AssemblyDatasetAvailability'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Check the validity of many genome accessions in a single request
      tags:
      - Genome
      x-codegen-request-body-name: body
  /genome/download:
    post:
      description: The 'GET' version of download is limited by the size of the GET
        URL (2KB, which works out to about 140 genomic accessions).  The POST operation
        is provided to allow users to supply a larger number of accessions in a single
        request.
      operationId: download_assembly_package_post
      parameters:
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1AssemblyDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected genome assemblies and associated annotation
            data as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a genome dataset by post
      tags:
      - Genome
      x-codegen-request-body-name: body
  /genome/download_summary:
    post:
      description: The 'GET' version of download summary is limited by the size of
        the GET URL (2KB, which works out to about 140 genomic accessions).  The POST
        operation is provided to allow users to supply a larger number of accessions
        in a single request.
      operationId: genome_download_summary_by_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1AssemblyDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Preview genome dataset download by POST
      tags:
      - Genome
      x-codegen-request-body-name: body
  /genome/taxon/{taxon}:
    get:
      description: Get detailed metadata on all assembled genomes for a specified
        NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank
      operationId: assembly_descriptors_by_taxon
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon
        required: true
        schema:
          type: string
      - description: If true, only return reference and representative (GCF_ and GCA_)
          genome assemblies.
        in: query
        name: filters.reference_only
        schema:
          type: boolean
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies.
        in: query
        name: filters.assembly_source
        schema:
          default: all
          enum:
          - all
          - refseq
          - genbank
          type: string
      - description: Return only annotated genome assemblies.
        in: query
        name: filters.has_annotation
        schema:
          type: boolean
      - description: Only return genome assemblies that have one of the specified
          assembly levels.
        explode: true
        in: query
        name: filters.assembly_level
        schema:
          items:
            enum:
            - chromosome
            - scaffold
            - contig
            - complete_genome
            type: string
          type: array
        style: form
      - description: Only return genome assemblies that were released on or after
          the specified date.
        in: query
        name: filters.first_release_date
        schema:
          format: date-time
          type: string
      - description: Only return genome assemblies that were released on or before
          to the specified date.
        in: query
        name: filters.last_release_date
        schema:
          format: date-time
          type: string
      - description: Only return results whose fields contain the specified search
          terms in their taxon, infraspecific, assembly name or submitter fields.
        explode: true
        in: query
        name: filters.search_text
        schema:
          items:
            type: string
          type: array
        style: form
      - description: If true, only return assemblies with the given NCBI Taxonomy
          ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.
          Ignored for assembly_accession request.
        in: query
        name: tax_exact_match
        schema:
          type: boolean
      - description: Return either assembly accessions, or entire assembly-metadata
          records.
        in: query
        name: returned_content
        schema:
          default: COMPLETE
          enum:
          - COMPLETE
          - ASSM_ACC
          type: string
      - description: The maximum number of genome assemblies to return. Default is
          20 and maximum is 1000. If the number of results exceeds the page size,  `page_token`
          can be used to retrieve the remaining results.
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: A page token is returned from an `AssemblyMetadataRequest` call
          with more than `page_size` results. Use this token, along with the previous  `AssemblyMetadataRequest`
          parameters, to retrieve the next page of results. When `page_token` is empty,
          all results have been retrieved.
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1AssemblyMetadata'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get genome metadata by taxonomic identifier
      tags:
      - Genome
  /genome/taxon/{taxon}/tree:
    get:
      description: Using a NCBI Taxonomy ID or name (common or scientific) at any
        rank, get a subtree filtered for species with assembled genomes
      operationId: genome_tax_tree
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1Organism'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a taxonomic subtree by taxonomic identifier
      tags:
      - Genome
  /genome/taxon_suggest/{taxon_query}:
    get:
      description: This endpoint retrieves a list of taxonomy names and IDs found
        in the assembly dataset given a partial taxonomic name of any rank.
      operationId: genome_tax_name_query
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon_query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1SciNameAndIds'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a list of taxonomy names and IDs found in the assembly dataset
        given a partial taxonomic name.
      tags:
      - Genome
  /protein/accession/download:
    post:
      description: Get a prokaryote gene dataset including gene and protein fasta
        sequence, annotation and metadata by prokaryote protein accession by POST.
      operationId: download_prokaryote_gene_package_post
      parameters:
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1alpha1ProkaryoteGeneRequest'
        required: true
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected prokaryote gene data as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a prokaryote gene dataset by RefSeq protein accession by POST
      tags:
      - Prokaryote
      x-codegen-request-body-name: body
  /protein/accession/{accessions}/download:
    get:
      description: Get a prokaryote gene dataset including gene and protein fasta
        sequence, annotation and metadata by prokaryote protein accession.
      operationId: download_prokaryote_gene_package
      parameters:
      - description: WP prokaryote protein accession
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - FASTA_GENE
            - FASTA_PROTEIN
            - FASTA_GENE_FLANK
            type: string
          type: array
        style: form
      - in: query
        name: gene_flank_config.length
        schema:
          format: int64
          type: integer
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank When specified, return data from this taxon and its subtree.
        in: query
        name: taxon
        schema:
          type: string
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected prokaryote gene data as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get a prokaryote gene dataset by RefSeq protein accession
      tags:
      - Prokaryote
  /version:
    get:
      description: Retrieve the latest version of the Datasets services.
      operationId: version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1VersionReply'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Retrieve service version
      tags:
      - Version
  /virus/taxon/sars2/protein/{proteins}:
    get:
      description: Download a summary of available SARS-CoV-2 protein datasets
      operationId: sars2_protein_summary
      parameters:
      - description: Which proteins to retrieve in the data package
        explode: false
        in: path
        name: proteins
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: If true, limit results to RefSeq genomes.
        in: query
        name: refseq_only
        schema:
          type: boolean
      - description: If true, limit results to annotated genomes.
        in: query
        name: annotated_only
        schema:
          type: boolean
      - description: 'If set, limit results to viral genomes that have been released
          after a specified date and time. April 1, 2020 midnight UTC should be formatted
          as follows: 2020-04-01T00:00:00.000Z.'
        in: query
        name: released_since
        schema:
          format: date-time
          type: string
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name).
        in: query
        name: host
        schema:
          type: string
      - description: Assemblies from this location (country and state, or continent).
        in: query
        name: geo_location
        schema:
          type: string
      - description: only include complete genomes.
        in: query
        name: complete_only
        schema:
          type: boolean
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - CDS_FASTA
            - PROT_FASTA
            - GENOME_GPFF
            - PDB_FILES
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Summary of SARS-CoV-2 protein and CDS datasets by protein name
      tags:
      - Virus
  /virus/taxon/sars2/protein/{proteins}/download:
    get:
      description: Download a SARS-CoV-2 protein datasets
      operationId: sars2_protein_download
      parameters:
      - description: Which proteins to retrieve in the data package
        explode: false
        in: path
        name: proteins
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: If true, limit results to RefSeq genomes.
        in: query
        name: refseq_only
        schema:
          type: boolean
      - description: If true, limit results to annotated genomes.
        in: query
        name: annotated_only
        schema:
          type: boolean
      - description: 'If set, limit results to viral genomes that have been released
          after a specified date and time. April 1, 2020 midnight UTC should be formatted
          as follows: 2020-04-01T00:00:00.000Z.'
        in: query
        name: released_since
        schema:
          format: date-time
          type: string
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name).
        in: query
        name: host
        schema:
          type: string
      - description: Assemblies from this location (country and state, or continent).
        in: query
        name: geo_location
        schema:
          type: string
      - description: only include complete genomes.
        in: query
        name: complete_only
        schema:
          type: boolean
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - CDS_FASTA
            - PROT_FASTA
            - GENOME_GPFF
            - PDB_FILES
            type: string
          type: array
        style: form
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected SARS-CoV-2 proteins and associated annotation
            data as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Download SARS-CoV-2 protein and CDS datasets by protein name
      tags:
      - Virus
  /virus/taxon/sars2/protein/{proteins}/table:
    get:
      description: Get protein metadata in tabular format for SARS-CoV-2 genomes.
      operationId: sars2_protein_table
      parameters:
      - description: Which proteins to retrieve in the data package
        explode: false
        in: path
        name: proteins
        required: true
        schema:
          items:
            type: string
          minItems: 1
          type: array
        style: simple
      - description: If true, limit results to RefSeq genomes.
        in: query
        name: refseq_only
        schema:
          type: boolean
      - description: If true, limit results to annotated genomes.
        in: query
        name: annotated_only
        schema:
          type: boolean
      - description: 'If set, limit results to viral genomes that have been released
          after a specified date and time. April 1, 2020 midnight UTC should be formatted
          as follows: 2020-04-01T00:00:00.000Z.'
        in: query
        name: released_since
        schema:
          format: date-time
          type: string
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name).
        in: query
        name: host
        schema:
          type: string
      - description: Assemblies from this location (country and state, or continent).
        in: query
        name: geo_location
        schema:
          type: string
      - description: only include complete genomes.
        in: query
        name: complete_only
        schema:
          type: boolean
      - description: Specify which fields to include in the tabular report.
        explode: true
        in: query
        name: table_fields
        schema:
          items:
            enum:
            - nucleotide_accession
            - species_tax_id
            - species_name
            - genus
            - family
            - nucleotide_length
            - isolate_name
            - sequence_type
            - nuc_completeness
            - geo_location
            - us_state
            - host_name
            - host_tax_id
            - collection_date
            - bioproject
            - biosample
            - polyprotein_name
            - protein_name
            - protein_accession
            - protein_synonym
            - cds_span
            type: string
          type: array
        style: form
      - description: Choose download format.
        in: query
        name: format
        schema:
          default: tsv
          enum:
          - tsv
          - csv
          - jsonl
          type: string
      responses:
        "200":
          content:
            application/tsv:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1alpha1TabularOutput'
          description: A successful response.(streaming responses)
        default:
          content:
            application/tsv:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get SARS-CoV-2 protein metadata in a tabular format.
      tags:
      - Virus
  /virus/taxon/{taxon}/genome:
    get:
      description: Get summary data and download by command line instructions for
        Coronaviridae genomes by taxon.
      operationId: virus_genome_summary
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon
        required: true
        schema:
          type: string
      - description: If true, limit results to RefSeq genomes.
        in: query
        name: refseq_only
        schema:
          type: boolean
      - description: If true, limit results to annotated genomes.
        in: query
        name: annotated_only
        schema:
          type: boolean
      - description: 'If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as follows: 2020-04-01T00:00:00.000Z.'
        in: query
        name: released_since
        schema:
          format: date-time
          type: string
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name).
        in: query
        name: host
        schema:
          type: string
      - description: If set, limit results to genomes classified to this lineage by
          the PangoLearn tool.
        in: query
        name: pangolin_classification
        schema:
          type: string
      - description: Assemblies from this location (country and state, or continent).
        in: query
        name: geo_location
        schema:
          type: string
      - description: only include complete genomes.
        in: query
        name: complete_only
        schema:
          type: boolean
      - description: Set to true to omit the genomic sequence.
        in: query
        name: exclude_sequence
        schema:
          type: boolean
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - CDS_FASTA
            - PROT_FASTA
            - GENOME_GBFF
            - GENOME_GPFF
            - PDB_FILES
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1alpha1DownloadSummary'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get summary data for Coronaviridae genomes by taxon
      tags:
      - Virus
  /virus/taxon/{taxon}/genome/download:
    get:
      description: Download a Coronavirus genome datasets by taxon
      operationId: virus_genome_download
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon
        required: true
        schema:
          type: string
      - description: If true, limit results to RefSeq genomes.
        in: query
        name: refseq_only
        schema:
          type: boolean
      - description: If true, limit results to annotated genomes.
        in: query
        name: annotated_only
        schema:
          type: boolean
      - description: 'If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as follows: 2020-04-01T00:00:00.000Z.'
        in: query
        name: released_since
        schema:
          format: date-time
          type: string
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name).
        in: query
        name: host
        schema:
          type: string
      - description: If set, limit results to genomes classified to this lineage by
          the PangoLearn tool.
        in: query
        name: pangolin_classification
        schema:
          type: string
      - description: Assemblies from this location (country and state, or continent).
        in: query
        name: geo_location
        schema:
          type: string
      - description: only include complete genomes.
        in: query
        name: complete_only
        schema:
          type: boolean
      - description: Set to true to omit the genomic sequence.
        in: query
        name: exclude_sequence
        schema:
          type: boolean
      - description: Select additional types of annotation to include in the data
          package.  If unset, no annotation is provided.
        explode: true
        in: query
        name: include_annotation_type
        schema:
          items:
            enum:
            - CDS_FASTA
            - PROT_FASTA
            - GENOME_GBFF
            - GENOME_GPFF
            - PDB_FILES
            type: string
          type: array
        style: form
      - description: Output file name.
        in: query
        name: filename
        schema:
          default: ncbi_dataset.zip
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                description: Zip compressed stream
                format: binary
                type: string
          description: Download selected viral genome and associated annotation data
            as a zip file.
        default:
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Download Coronavirus genome datasets by taxon
      tags:
      - Virus
  /virus/taxon/{taxon}/genome/table:
    get:
      description: Get viral genomic metadata in tabular format for Coronaviridae
        genomes by taxon.
      operationId: virus_genome_table
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        in: path
        name: taxon
        required: true
        schema:
          type: string
      - description: If true, limit results to RefSeq genomes.
        in: query
        name: refseq_only
        schema:
          type: boolean
      - description: If true, limit results to annotated genomes.
        in: query
        name: annotated_only
        schema:
          type: boolean
      - description: 'If set, limit results to viral genomes that have been released
          after a specified date (and optionally, time). April 1, 2020 midnight UTC
          should be formatted as follows: 2020-04-01T00:00:00.000Z.'
        in: query
        name: released_since
        schema:
          format: date-time
          type: string
      - description: If set, limit results to genomes extracted from this host (Taxonomy
          ID or name).
        in: query
        name: host
        schema:
          type: string
      - description: If set, limit results to genomes classified to this lineage by
          the PangoLearn tool.
        in: query
        name: pangolin_classification
        schema:
          type: string
      - description: Assemblies from this location (country and state, or continent).
        in: query
        name: geo_location
        schema:
          type: string
      - description: only include complete genomes.
        in: query
        name: complete_only
        schema:
          type: boolean
      - description: Specify which fields to include in the tabular report.
        explode: true
        in: query
        name: table_fields
        schema:
          items:
            enum:
            - nucleotide_accession
            - species_tax_id
            - species_name
            - genus
            - family
            - nucleotide_length
            - isolate_name
            - sequence_type
            - nuc_completeness
            - geo_location
            - us_state
            - host_name
            - host_tax_id
            - collection_date
            - bioproject
            - biosample
            - polyprotein_name
            - protein_name
            - protein_accession
            - protein_synonym
            - cds_span
            type: string
          type: array
        style: form
      - description: Choose download format (tsv, csv or jsonl).
        in: query
        name: format
        schema:
          default: tsv
          enum:
          - tsv
          - csv
          - jsonl
          type: string
      responses:
        "200":
          content:
            application/tsv:
              schema:
                $ref: '#/components/schemas/Stream_result_of_v1alpha1TabularOutput'
          description: A successful response.(streaming responses)
        default:
          content:
            application/tsv:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get viral genomic metadata in a tabular format.
      tags:
      - Virus
components:
  schemas:
    AssemblyDatasetDescriptorsFilterAssemblyLevel:
      default: chromosome
      enum:
      - chromosome
      - scaffold
      - contig
      - complete_genome
      title: 'The level of the genome assembly: Chromosome, Scaffold, Contig or Complete
        Genome'
      type: string
    AssemblyDatasetDescriptorsFilterAssemblySource:
      default: all
      enum:
      - all
      - refseq
      - genbank
      type: string
    AssemblyDatasetRequestResolution:
      default: FULLY_HYDRATED
      enum:
      - FULLY_HYDRATED
      - DATA_REPORT_ONLY
      type: string
    AssemblyMetadataRequestBioprojects:
      properties:
        accessions:
          items:
            type: string
          type: array
      type: object
    DownloadSummaryDehydrated:
      example:
        cli_download_command_line: cli_download_command_line
        estimated_file_size_mb: 6
        cli_rehydrate_command_line: cli_rehydrate_command_line
        url: url
      properties:
        cli_download_command_line:
          type: string
        cli_rehydrate_command_line:
          type: string
        estimated_file_size_mb:
          format: int64
          type: integer
        url:
          type: string
      type: object
    DownloadSummaryHydrated:
      example:
        cli_download_command_line: cli_download_command_line
        estimated_file_size_mb: 1
        url: url
      properties:
        cli_download_command_line:
          type: string
        estimated_file_size_mb:
          format: int64
          type: integer
        url:
          type: string
      type: object
    ErrorAssemblyErrorCode:
      default: UNKNOWN_ASSEMBLY_ERROR_CODE
      enum:
      - UNKNOWN_ASSEMBLY_ERROR_CODE
      - INVALID_BIOPROJECT_IDS
      - NO_ASSEMBLIES_FOR_BIOPROJECTS
      - INVALID_TAXON
      type: string
    ErrorGeneErrorCode:
      default: UNKNOWN_GENE_ERROR_CODE
      enum:
      - UNKNOWN_GENE_ERROR_CODE
      - INCOMPLETE_LOOKUP_SYMBOL
      type: string
    ErrorVirusErrorCode:
      default: UNKNOWN_VIRUS_ERROR_CODE
      enum:
      - UNKNOWN_VIRUS_ERROR_CODE
      type: string
    GeneDatasetRequestSort:
      properties:
        direction:
          $ref: '#/components/schemas/v1alpha1SortDirection'
        field:
          $ref: '#/components/schemas/GeneDatasetRequestSortField'
      type: object
    GeneDatasetRequestSortField:
      default: SORT_FIELD_UNSPECIFIED
      enum:
      - SORT_FIELD_UNSPECIFIED
      - SORT_FIELD_GENE_ID
      - SORT_FIELD_GENE_TYPE
      - SORT_FIELD_GENE_SYMBOL
      type: string
    GeneDatasetRequestSymbolsForTaxon:
      properties:
        symbols:
          items:
            type: string
          type: array
        taxon:
          type: string
      type: object
    GeneDescriptorGeneType:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - tRNA
      - rRNA
      - snRNA
      - scRNA
      - snoRNA
      - PROTEIN_CODING
      - PSEUDO
      - TRANSPOSON
      - miscRNA
      - ncRNA
      - BIOLOGICAL_REGION
      - OTHER
      type: string
    GeneDescriptorRnaType:
      default: rna_UNKNOWN
      enum:
      - rna_UNKNOWN
      - premsg
      - tmRna
      type: string
    GenomicRegionGenomicRegionType:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - REFSEQ_GENE
      - PSEUDOGENE
      - BIOLOGICAL_REGION
      - OTHER
      type: string
    MicroBiggeDatasetRequestElementFlankConfig:
      properties:
        length:
          format: int64
          type: integer
      title: configuration options for gene file output
      type: object
    OrganismCountByType:
      example:
        counts:
          node: 0
          subtree: 6
      properties:
        counts:
          $ref: '#/components/schemas/OrganismCounts'
        type:
          $ref: '#/components/schemas/OrganismCountType'
      type: object
    OrganismCountType:
      default: COUNT_TYPE_UNSPECIFIED
      enum:
      - COUNT_TYPE_UNSPECIFIED
      - COUNT_TYPE_ASSEMBLY
      - COUNT_TYPE_GENE
      type: string
    OrganismCounts:
      example:
        node: 0
        subtree: 6
      properties:
        node:
          format: int64
          title: The number of assemblies at this node only
          type: integer
        subtree:
          description: The number of assemblies at this node and all children.
          format: int64
          type: integer
      type: object
    OrganismRankType:
      default: NO_RANK
      enum:
      - NO_RANK
      - SUPERKINGDOM
      - KINGDOM
      - SUBKINGDOM
      - SUPERPHYLUM
      - SUBPHYLUM
      - PHYLUM
      - CLADE
      - SUPERCLASS
      - CLASS
      - SUBCLASS
      - INFRACLASS
      - COHORT
      - SUBCOHORT
      - SUPERORDER
      - ORDER
      - SUBORDER
      - INFRAORDER
      - PARVORDER
      - SUPERFAMILY
      - FAMILY
      - SUBFAMILY
      - GENUS
      - SUBGENUS
      - SPECIES_GROUP
      - SPECIES_SUBGROUP
      - SPECIES
      - SUBSPECIES
      - TRIBE
      - SUBTRIBE
      - FORMA
      - VARIETAS
      - STRAIN
      - SECTION
      - SUBSECTION
      - PATHOGROUP
      - SUBVARIETY
      - GENOTYPE
      - SEROTYPE
      - ISOLATE
      - MORPH
      - SERIES
      - FORMA_SPECIALIS
      - SEROGROUP
      - BIOTYPE
      type: string
    ProkaryoteGeneRequestGeneFlankConfig:
      properties:
        length:
          format: int64
          type: integer
      type: object
    SciNameAndIdsSciNameAndId:
      example:
        sci_name: sci_name
        tax_id: tax_id
      properties:
        sci_name:
          title: Scientific name
          type: string
        tax_id:
          format: uint64
          title: NCBI Taxonomy ID
          type: string
      type: object
    TranscriptTranscriptType:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - PROTEIN_CODING
      - NON_CODING
      - PROTEIN_CODING_MODEL
      - NON_CODING_MODEL
      type: string
    WarningGeneWarningCode:
      default: UNKNOWN_GENE_WARNING_CODE
      enum:
      - UNKNOWN_GENE_WARNING_CODE
      - ACCESSION_VERSION_MISMATCH
      - REPLACED_GENE_ID
      - DISCONTINUED_GENE_ID
      - UNRECOGNIZED_GENE_ID
      - UNRECOGNIZED_GENE_SYMBOL
      - UNRECOGNIZED_ACCESSION
      - UNRECOGNIZED_TAX_TOKEN
      type: string
    WarningReplacedId:
      example:
        requested: requested
        returned: returned
      properties:
        requested:
          type: string
        returned:
          type: string
      type: object
    datasetsv1alpha1Accessions:
      properties:
        accessions:
          items:
            type: string
          type: array
      type: object
    datasetsv1alpha1Annotation:
      example:
        release_name: release_name
        release_date: release_date
        assemblies_in_scope:
        - name: name
          accession: accession
        - name: name
          accession: accession
      properties:
        assemblies_in_scope:
          items:
            $ref: '#/components/schemas/v1alpha1AnnotatedAssemblies'
          type: array
        release_date:
          type: string
        release_name:
          type: string
      type: object
    protobufAny:
      properties:
        type_url:
          type: string
        value:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
      type: object
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
        message:
          type: string
      type: object
    v1alpha1AnnotatedAssemblies:
      example:
        name: name
        accession: accession
      properties:
        accession:
          type: string
        name:
          type: string
      type: object
    v1alpha1AnnotationForAssembly:
      example:
        file:
        - estimated_size: estimated_size
        - estimated_size: estimated_size
        release_number: release_number
        release_date: release_date
        stats:
          gene_counts:
            total: 6
            protein_coding: 0
        report_url: report_url
        name: name
        source: source
      properties:
        file:
          description: List of annotation files available for this assembly.
          items:
            $ref: '#/components/schemas/v1alpha1AnnotationForAssemblyFile'
          type: array
        name:
          title: Annotation name
          type: string
        release_date:
          title: The date the annotation was released
          type: string
        release_number:
          description: NCBI Annotation release number, if one exists.
          type: string
        report_url:
          title: NCBI annotation report website
          type: string
        source:
          description: Source of the annotation.  Possibly from a submitter.
          type: string
        stats:
          $ref: '#/components/schemas/v1alpha1FeatureCounts'
      type: object
    v1alpha1AnnotationForAssemblyFile:
      example:
        estimated_size: estimated_size
      properties:
        estimated_size:
          format: uint64
          type: string
        type:
          $ref: '#/components/schemas/v1alpha1AnnotationForAssemblyType'
      type: object
    v1alpha1AnnotationForAssemblyType:
      default: DEFAULT
      enum:
      - DEFAULT
      - GENOME_GFF
      - GENOME_GBFF
      - GENOME_GB
      - RNA_FASTA
      - PROT_FASTA
      - GENOME_GTF
      type: string
    v1alpha1AnnotationForVirusType:
      default: DEFAULT
      enum:
      - DEFAULT
      - CDS_FASTA
      - PROT_FASTA
      - GENOME_GBFF
      - GENOME_GPFF
      - PDB_FILES
      type: string
    v1alpha1AssemblyDatasetAvailability:
      example:
        valid_assemblies:
        - valid_assemblies
        - valid_assemblies
        reason: reason
        invalid_assemblies:
        - invalid_assemblies
        - invalid_assemblies
      properties:
        invalid_assemblies:
          items:
            type: string
          type: array
        reason:
          type: string
        valid_assemblies:
          items:
            type: string
          type: array
      type: object
    v1alpha1AssemblyDatasetDescriptor:
      example:
        submitter: submitter
        org:
          strain: strain
          counts:
          - counts:
              node: 0
              subtree: 6
          - counts:
              node: 0
              subtree: 6
          sex: sex
          icon: true
          merged:
          - null
          - null
          assembly_counts:
            node: 0
            subtree: 6
          title: title
          breed: breed
          tax_id: tax_id
          assembly_count: assembly_count
          parent_tax_id: parent_tax_id
          isolate: isolate
          blast_node: true
          max_ord: 1
          cultivar: cultivar
          merged_tax_ids:
          - merged_tax_ids
          - merged_tax_ids
          children:
          - null
          - null
          sci_name: sci_name
          min_ord: 5
          common_name: common_name
          ecotype: ecotype
          key: key
          search_text:
          - search_text
          - search_text
        seq_length: seq_length
        chromosomes:
        - chromosomes
        - chromosomes
        annotation_metadata:
          file:
          - estimated_size: estimated_size
          - estimated_size: estimated_size
          release_number: release_number
          release_date: release_date
          stats:
            gene_counts:
              total: 6
              protein_coding: 0
          report_url: report_url
          name: name
          source: source
        biosample_accession: biosample_accession
        estimated_size: estimated_size
        bioproject_lineages:
        - bioprojects:
          - parent_accession: parent_accession
            parent_accessions:
            - parent_accessions
            - parent_accessions
            accession: accession
            title: title
          - parent_accession: parent_accession
            parent_accessions:
            - parent_accessions
            - parent_accessions
            accession: accession
            title: title
        - bioprojects:
          - parent_accession: parent_accession
            parent_accessions:
            - parent_accessions
            - parent_accessions
            accession: accession
            title: title
          - parent_accession: parent_accession
            parent_accessions:
            - parent_accessions
            - parent_accessions
            accession: accession
            title: title
        display_name: display_name
        assembly_category: assembly_category
        submission_date: submission_date
        assembly_accession: assembly_accession
        contig_n50: 1
        assembly_level: assembly_level
      properties:
        annotation_metadata:
          $ref: '#/components/schemas/v1alpha1AnnotationForAssembly'
        assembly_accession:
          title: The GenColl assembly accession (e.g. GCF_000001405.39)
          type: string
        assembly_category:
          description: Category of assembly, like reference.
          type: string
        assembly_level:
          title: The level of the assembly, e.g. Chromosome, Scaffold, Contig or Complete
            Genome
          type: string
        bioproject_lineages:
          items:
            $ref: '#/components/schemas/v1alpha1BioProjectLineage'
          title: The bioproject(s) associated with this assembly
          type: array
        biosample_accession:
          description: NCBI BioSample Accession for the BioSample from which the sequences
            in the genome assembly were obtained.
          type: string
        chromosomes:
          description: 'Which chromosomes are included in this dataset. NB: Mitochondria
            is encoded as ''MT''.'
          items:
            type: string
          type: array
        contig_n50:
          format: int64
          title: Minimum contig length needed to cover 50% of the genome
          type: integer
        display_name:
          description: The name of the Assembly dataset to be displayed in a user
            interface.
          type: string
        estimated_size:
          format: uint64
          title: Estimated size of all annotation and sequence files in download
          type: string
        org:
          $ref: '#/components/schemas/v1alpha1Organism'
        seq_length:
          format: uint64
          title: Combined length of all sequence data
          type: string
        submission_date:
          title: Date the assembly was provided to NCBI
          type: string
        submitter:
          title: The submitting consortium or organization. Full submitter information
            is available in the BioProject
          type: string
      type: object
    v1alpha1AssemblyDatasetDescriptors:
      properties:
        datasets:
          description: List of all datasets that match the request, up to the provided
            limit.
          items:
            $ref: '#/components/schemas/v1alpha1AssemblyDatasetDescriptor'
          type: array
        total_count:
          description: The total count of available datasets (ignoring the cutoff
            parameter).
          format: int64
          type: integer
      type: object
    v1alpha1AssemblyDatasetDescriptorsFilter:
      properties:
        assembly_level:
          items:
            $ref: '#/components/schemas/AssemblyDatasetDescriptorsFilterAssemblyLevel'
          title: Only return genome assemblies that have one of the specified assembly
            levels
          type: array
        assembly_source:
          $ref: '#/components/schemas/AssemblyDatasetDescriptorsFilterAssemblySource'
        first_release_date:
          format: date-time
          title: Only return genome assemblies that were released on or after the
            specified date
          type: string
        has_annotation:
          title: Return only annotated genome assemblies
          type: boolean
        last_release_date:
          format: date-time
          title: Only return genome assemblies that were released on or before to
            the specified date
          type: string
        reference_only:
          description: If true, only return reference and representative (GCF_ and
            GCA_) genome assemblies.
          type: boolean
        refseq_only:
          description: If true, only return RefSeq (GCF_) genome assemblies. Deprecated
            - use assembly_type instead.
          type: boolean
        search_text:
          items:
            type: string
          title: Only return results whose fields contain the specified search terms
            in their taxon, infraspecific, assembly name or submitter fields
          type: array
      type: object
    v1alpha1AssemblyDatasetDescriptorsRequestContentType:
      default: COMPLETE
      enum:
      - COMPLETE
      - ASSM_ACC
      - COUNTS
      type: string
    v1alpha1AssemblyDatasetRequest:
      properties:
        accessions:
          items:
            type: string
          title: NCBI genome assembly accessions
          type: array
        assembly_accessions:
          items:
            type: string
          title: NCBI genome assembly accessions
          type: array
        chromosomes:
          description: The default setting is all chromosome. Specify individual chromosome
            by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated
            like their own chromosome ('Un'). The filter only applies to fasta sequence.
          items:
            type: string
          type: array
        exclude_sequence:
          description: Set to true to omit the genomic sequence.
          type: boolean
        hydrated:
          $ref: '#/components/schemas/AssemblyDatasetRequestResolution'
        include_annotation:
          type: boolean
        include_annotation_type:
          description: Select additional types of annotation to include in the data
            package.  If unset, no annotation is provided.
          items:
            $ref: '#/components/schemas/v1alpha1AnnotationForAssemblyType'
          type: array
        include_tsv:
          description: Set to true to include a TSV represention of the data-report.
          type: boolean
      type: object
    v1alpha1AssemblyMatch:
      example:
        assembly:
          submitter: submitter
          org:
            strain: strain
            counts:
            - counts:
                node: 0
                subtree: 6
            - counts:
                node: 0
                subtree: 6
            sex: sex
            icon: true
            merged:
            - null
            - null
            assembly_counts:
              node: 0
              subtree: 6
            title: title
            breed: breed
            tax_id: tax_id
            assembly_count: assembly_count
            parent_tax_id: parent_tax_id
            isolate: isolate
            blast_node: true
            max_ord: 1
            cultivar: cultivar
            merged_tax_ids:
            - merged_tax_ids
            - merged_tax_ids
            children:
            - null
            - null
            sci_name: sci_name
            min_ord: 5
            common_name: common_name
            ecotype: ecotype
            key: key
            search_text:
            - search_text
            - search_text
          seq_length: seq_length
          chromosomes:
          - chromosomes
          - chromosomes
          annotation_metadata:
            file:
            - estimated_size: estimated_size
            - estimated_size: estimated_size
            release_number: release_number
            release_date: release_date
            stats:
              gene_counts:
                total: 6
                protein_coding: 0
            report_url: report_url
            name: name
            source: source
          biosample_accession: biosample_accession
          estimated_size: estimated_size
          bioproject_lineages:
          - bioprojects:
            - parent_accession: parent_accession
              parent_accessions:
              - parent_accessions
              - parent_accessions
              accession: accession
              title: title
            - parent_accession: parent_accession
              parent_accessions:
              - parent_accessions
              - parent_accessions
              accession: accession
              title: title
          - bioprojects:
            - parent_accession: parent_accession
              parent_accessions:
              - parent_accessions
              - parent_accessions
              accession: accession
              title: title
            - parent_accession: parent_accession
              parent_accessions:
              - parent_accessions
              - parent_accessions
              accession: accession
              title: title
          display_name: display_name
          assembly_category: assembly_category
          submission_date: submission_date
          assembly_accession: assembly_accession
          contig_n50: 1
          assembly_level: assembly_level
        messages:
        - warning:
            reason: reason
            replaced_id:
              requested: requested
              returned: returned
            unrecognized_identifier: unrecognized_identifier
            message: message
          error:
            invalid_identifiers:
            - invalid_identifiers
            - invalid_identifiers
            reason: reason
            valid_identifiers:
            - valid_identifiers
            - valid_identifiers
            message: message
        - warning:
            reason: reason
            replaced_id:
              requested: requested
              returned: returned
            unrecognized_identifier: unrecognized_identifier
            message: message
          error:
            invalid_identifiers:
            - invalid_identifiers
            - invalid_identifiers
            reason: reason
            valid_identifiers:
            - valid_identifiers
            - valid_identifiers
            message: message
      properties:
        assembly:
          $ref: '#/components/schemas/v1alpha1AssemblyDatasetDescriptor'
        messages:
          items:
            $ref: '#/components/schemas/v1alpha1Message'
          type: array
      type: object
    v1alpha1AssemblyMetadata:
      example:
        assemblies:
        - assembly:
            submitter: submitter
            org:
              strain: strain
              counts:
              - counts:
                  node: 0
                  subtree: 6
              - counts:
                  node: 0
                  subtree: 6
              sex: sex
              icon: true
              merged:
              - null
              - null
              assembly_counts:
                node: 0
                subtree: 6
              title: title
              breed: breed
              tax_id: tax_id
              assembly_count: assembly_count
              parent_tax_id: parent_tax_id
              isolate: isolate
              blast_node: true
              max_ord: 1
              cultivar: cultivar
              merged_tax_ids:
              - merged_tax_ids
              - merged_tax_ids
              children:
              - null
              - null
              sci_name: sci_name
              min_ord: 5
              common_name: common_name
              ecotype: ecotype
              key: key
              search_text:
              - search_text
              - search_text
            seq_length: seq_length
            chromosomes:
            - chromosomes
            - chromosomes
            annotation_metadata:
              file:
              - estimated_size: estimated_size
              - estimated_size: estimated_size
              release_number: release_number
              release_date: release_date
              stats:
                gene_counts:
                  total: 6
                  protein_coding: 0
              report_url: report_url
              name: name
              source: source
            biosample_accession: biosample_accession
            estimated_size: estimated_size
            bioproject_lineages:
            - bioprojects:
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
            - bioprojects:
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
            display_name: display_name
            assembly_category: assembly_category
            submission_date: submission_date
            assembly_accession: assembly_accession
            contig_n50: 1
            assembly_level: assembly_level
          messages:
          - warning:
              reason: reason
              replaced_id:
                requested: requested
                returned: returned
              unrecognized_identifier: unrecognized_identifier
              message: message
            error:
              invalid_identifiers:
              - invalid_identifiers
              - invalid_identifiers
              reason: reason
              valid_identifiers:
              - valid_identifiers
              - valid_identifiers
              message: message
          - warning:
              reason: reason
              replaced_id:
                requested: requested
                returned: returned
              unrecognized_identifier: unrecognized_identifier
              message: message
            error:
              invalid_identifiers:
              - invalid_identifiers
              - invalid_identifiers
              reason: reason
              valid_identifiers:
              - valid_identifiers
              - valid_identifiers
              message: message
        - assembly:
            submitter: submitter
            org:
              strain: strain
              counts:
              - counts:
                  node: 0
                  subtree: 6
              - counts:
                  node: 0
                  subtree: 6
              sex: sex
              icon: true
              merged:
              - null
              - null
              assembly_counts:
                node: 0
                subtree: 6
              title: title
              breed: breed
              tax_id: tax_id
              assembly_count: assembly_count
              parent_tax_id: parent_tax_id
              isolate: isolate
              blast_node: true
              max_ord: 1
              cultivar: cultivar
              merged_tax_ids:
              - merged_tax_ids
              - merged_tax_ids
              children:
              - null
              - null
              sci_name: sci_name
              min_ord: 5
              common_name: common_name
              ecotype: ecotype
              key: key
              search_text:
              - search_text
              - search_text
            seq_length: seq_length
            chromosomes:
            - chromosomes
            - chromosomes
            annotation_metadata:
              file:
              - estimated_size: estimated_size
              - estimated_size: estimated_size
              release_number: release_number
              release_date: release_date
              stats:
                gene_counts:
                  total: 6
                  protein_coding: 0
              report_url: report_url
              name: name
              source: source
            biosample_accession: biosample_accession
            estimated_size: estimated_size
            bioproject_lineages:
            - bioprojects:
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
            - bioprojects:
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
              - parent_accession: parent_accession
                parent_accessions:
                - parent_accessions
                - parent_accessions
                accession: accession
                title: title
            display_name: display_name
            assembly_category: assembly_category
            submission_date: submission_date
            assembly_accession: assembly_accession
            contig_n50: 1
            assembly_level: assembly_level
          messages:
          - warning:
              reason: reason
              replaced_id:
                requested: requested
                returned: returned
              unrecognized_identifier: unrecognized_identifier
              message: message
            error:
              invalid_identifiers:
              - invalid_identifiers
              - invalid_identifiers
              reason: reason
              valid_identifiers:
              - valid_identifiers
              - valid_identifiers
              message: message
          - warning:
              reason: reason
              replaced_id:
                requested: requested
                returned: returned
              unrecognized_identifier: unrecognized_identifier
              message: message
            error:
              invalid_identifiers:
              - invalid_identifiers
              - invalid_identifiers
              reason: reason
              valid_identifiers:
              - valid_identifiers
              - valid_identifiers
              message: message
        next_page_token: next_page_token
        total_count: 5
        messages:
        - warning:
            reason: reason
            replaced_id:
              requested: requested
              returned: returned
            unrecognized_identifier: unrecognized_identifier
            message: message
          error:
            invalid_identifiers:
            - invalid_identifiers
            - invalid_identifiers
            reason: reason
            valid_identifiers:
            - valid_identifiers
            - valid_identifiers
            message: message
        - warning:
            reason: reason
            replaced_id:
              requested: requested
              returned: returned
            unrecognized_identifier: unrecognized_identifier
            message: message
          error:
            invalid_identifiers:
            - invalid_identifiers
            - invalid_identifiers
            reason: reason
            valid_identifiers:
            - valid_identifiers
            - valid_identifiers
            message: message
      properties:
        assemblies:
          items:
            $ref: '#/components/schemas/v1alpha1AssemblyMatch'
          type: array
        messages:
          items:
            $ref: '#/components/schemas/v1alpha1Message'
          type: array
        next_page_token:
          description: A token that can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        total_count:
          description: The total count of available datasets (ignoring the cutoff
            parameter). Only provided for the first page of results (when `page_token`
            is empty in the request).
          format: int64
          type: integer
      type: object
    v1alpha1AssemblyMetadataRequest:
      properties:
        accessions:
          $ref: '#/components/schemas/datasetsv1alpha1Accessions'
        bioprojects:
          $ref: '#/components/schemas/AssemblyMetadataRequestBioprojects'
        filters:
          $ref: '#/components/schemas/v1alpha1AssemblyDatasetDescriptorsFilter'
        limit:
          title: Deprecated - Limit the number of returned results ("all", "none",
            otherwise an integer value)
          type: string
        page_size:
          description: The maximum number of genome assemblies to return. Default
            is 20 and maximum is 1000. If the number of results exceeds the page size,  `page_token`
            can be used to retrieve the remaining results.
          format: int32
          type: integer
        page_token:
          description: A page token is returned from an `AssemblyMetadataRequest`
            call with more than `page_size` results. Use this token, along with the
            previous  `AssemblyMetadataRequest` parameters, to retrieve the next page
            of results. When `page_token` is empty, all results have been retrieved.
          type: string
        returned_content:
          $ref: '#/components/schemas/v1alpha1AssemblyMetadataRequestContentType'
        tax_exact_match:
          description: If true, only return assemblies with the given NCBI Taxonomy
[...]
