openapi: 3.0.1
info:
  title: NCBI Datasets API
  version: v2
  description: '### NCBI Datasets is a resource that lets you easily gather data from
      NCBI.

      The Datasets version 2 API is still in alpha, and we''re updating it often to add new functionality,
      iron out bugs and enhance usability.

      For some larger downloads, you may want to download a [dehydrated zip archive](https://www.ncbi.nlm.nih.gov/datasets/docs/v2/how-tos/genomes/large-download/),
      and retrieve the individual data files at a later time.
    '
  contact:
    name: NCBI
    url: https://www.ncbi.nlm.nih.gov/datasets
    email: help@ncbi.nlm.nih.gov
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v2
- url: https://dev.ncbi.nlm.nih.gov/datasets/v2
tags:
- name: Genome
  description: '#### Options to explore, summarize, and download assembled genomes, including associated
    sequences, metadata, and annotations.

    These genome services allow you to browse genome assemblies. For genomes of interest,
    identified by taxonomic name or ID, Assembly, BioProject, BioSample, WGS or Nucleotide
    accession, you can explore metadata, generate summaries, and determine package sizes. You can
    download data packages including metadata (in tabular and JSON Lines formats), annotation,
    genome, protein, RNA and CDS sequence in FASTA format by Assembly or BioProject
    accession.

    '
- name: Gene
  description: '#### Options to explore, summarize, and download sequences and metadata for genes and gene
    ortholog sets, along with their associated transcripts and proteins.

    These gene services allow you to explore RefSeq curated gene data. For genes of interest,
    identified by GeneID, Gene symbol, or RefSeq sequence accession, you can download data
    packages including metadata (in tabular and JSON Lines formats), and gene, transcript and
    protein sequences in FASTA format.

    '
- name: BioSample
  description: '#### Options to explore and download BioSample data by BioSample accession.

    These BioSample services allow you to browse metadata for specified BioSample accessions.

    '
- name: Prokaryote
  description: '#### Options to download sequences and metadata for prokaryotic genes and their associated proteins.

    These prokaryote services allow you to download prokaryotic gene data by RefSeq protein
    sequence accession (WP_). You can download data packages including gene metadata, genomic
    annotations (in JSON Lines format), and gene and protein sequences in FASTA format.

    '
- name: Virus
  description: '#### Options to explore, summarize, and download virus genome and protein sequences, annotations
    and associated metadata.

    These virus services allow you to explore virus metadata and annotations curated by NCBI Virus
    or download a data package including metadata and annotations (in JSON Lines formats), and
    genome, transcript, CDS and protein sequences in FASTA format.

    '

- name: Version
  description: "#### Retrieve the current version of all services.  \nServices follow\
    \ [Semantic Versioning 2.0.0 Schema](https://semver.org/spec/v2.0.0.html).\n"


- name: Taxonomy
  description: '#### Options to explore and download taxonomic metadata, images, and relationships.

    These taxonomy services allow you to explore taxonomic metadata and images, retrieve parent
    lineages, and access filtered sets of child nodes for specified taxonomic identifiers.

    '

- name: Organelle
  description: '#### Options to explore, summarize, and download RefSeq-curated organelle genomes, including associated sequences, metadata, and annotations.

    These organelle services allow you to browse organelle metadata by genomic accession or
    taxonomic identifiers. You can download data packages including metadata, gene annotation
    information in JSON Lines format, and genome and protein sequences in FASTA format.

    '

externalDocs:
  description: Interactively explore genome assembly datasets
  url: https://www.ncbi.nlm.nih.gov/datasets/genomes/
security:
- ApiKeyAuthHeader: []
paths:
  /genome/accession/{accessions}/download_summary:
    get:
      summary: Preview genome dataset download
      description: 'Get a download summary by accession in a JSON output format.'
      tags:
        - Genome
      operationId: genome_download_summary
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
            summary: Human
          example-1:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
      - name: chromosomes
        description: 'The default setting is all chromosome. Specify individual chromosome by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like their own chromosome (''Un''). The filter only applies to fasta sequence.'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - "1"
              - "2"
              - "3"
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2AnnotationForAssemblyType'
        examples:
          example-0:
            value:
              - GENOME_FASTA
              - PROT_FASTA
              - RNA_FASTA
            summary: Genomic, Transcript & Protein Sequence
          example-1:
            value:
              - GENOME_GFF
              - GENOME_GBFF
              - GENOME_GTF
              - PROT_FASTA
              - RNA_FASTA
              - CDS_FASTA
              - SEQUENCE_REPORT
            summary: All
  /genome/download_summary:
    post:
      summary: Preview genome dataset download by POST
      description: 'The ''GET'' version of download summary is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: genome_download_summary_by_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetRequest'
            examples:
              Single GCF accession example:
                description: GCF Accession (just one)
                value:
                  accessions:
                  - GCF_000001405.40
  /genome/accession/{accessions}/dataset_report:
    get:
      summary: Get dataset reports by accessions
      description: 'Get dataset reports by accessions.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_dataset_report
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      parameters:
      - name: accessions
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
            summary: Human
          example-1:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
      - name: filters.reference_only
        description: 'If true, only return reference genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2015-01-10T00:00:00Z
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-01-10T00:00:00Z
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value:
              - GRCh38
            summary: GRCh38
          example-2:
            value:
              - C57BL/6J
            summary: C57BL/6J
      - name: filters.is_metagenome_derived
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        examples:
          example-0:
            value: metagenome_derived_exclude
            summary: Exclude metagenome derived assemblies
          example-1:
            value: metagenome_derived_only
            summary: Return only metagenome derived assemblies
      - name: filters.is_type_material
        description: 'If true, include only type materials'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type materials
          example-1:
            value: true
            summary: Only return genomes that are classified as type materials
      - name: filters.is_ictv_exemplar
        description: 'If true, include only ICTV Exemplars'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type ICTV exemplar
          example-1:
            value: true
            summary: Only return genomes that are classified as ICTV exemplar
      - name: filters.exclude_multi_isolate
        description: 'If true, exclude large multi-isolate projects'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of large multi-isolate projects
          example-1:
            value: true
            summary: Exclude genomes that are classified as large multi-isolate projects
      - name: filters.type_material_category
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        examples:
          example-0:
            value: TYPE_MATERIAL
            summary: A Type Material with no classification
          example-1:
            value: TYPE_MATERIAL_CLADE
            summary: A Type Material of the Clade classification
          example-2:
            value: TYPE_MATERIAL_NEOTYPE
            summary: A Type Material of the Neotype classification
      - name: tax_exact_match
        description: 'If true, only return assemblies with the given NCBI Taxonomy ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value:
              - assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: sort.field
        in: query
        required: false
        schema:
          type: string
      - name: sort.direction
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
      - name: include_tabular_header
        description: 'Whether this request for tabular data should include the header row'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
  /genome/taxon/{taxons}/dataset_report:
    get:
      summary: Get dataset reports by taxons
      description: 'Get dataset reports by taxons.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_dataset_reports_by_taxon
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      parameters:
      - name: taxons
        description: 'NCBI Taxonomy ID or name (common or scientific) at any taxonomic rank'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - "9606"
            summary: NCBI Taxonomy Identifier
          example-1:
            value:
              - chimpanzee
              - eastern gorilla
            summary: Common Names
          example-2:
            value:
              - Homo sapiens
            summary: Scientific Name
      - name: filters.reference_only
        description: 'If true, only return reference genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2015-01-10T00:00:00Z
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-01-10T00:00:00Z
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value:
              - GRCh38
            summary: GRCh38
          example-2:
            value:
              - C57BL/6J
            summary: C57BL/6J
      - name: filters.is_metagenome_derived
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        examples:
          example-0:
            value: metagenome_derived_exclude
            summary: Exclude metagenome derived assemblies
          example-1:
            value: metagenome_derived_only
            summary: Return only metagenome derived assemblies
      - name: filters.is_type_material
        description: 'If true, include only type materials'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type materials
          example-1:
            value: true
            summary: Only return genomes that are classified as type materials
      - name: filters.is_ictv_exemplar
        description: 'If true, include only ICTV Exemplars'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type ICTV exemplar
          example-1:
            value: true
            summary: Only return genomes that are classified as ICTV exemplar
      - name: filters.exclude_multi_isolate
        description: 'If true, exclude large multi-isolate projects'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of large multi-isolate projects
          example-1:
            value: true
            summary: Exclude genomes that are classified as large multi-isolate projects
      - name: filters.type_material_category
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        examples:
          example-0:
            value: TYPE_MATERIAL
            summary: A Type Material with no classification
          example-1:
            value: TYPE_MATERIAL_CLADE
            summary: A Type Material of the Clade classification
          example-2:
            value: TYPE_MATERIAL_NEOTYPE
            summary: A Type Material of the Neotype classification
      - name: tax_exact_match
        description: 'If true, only return assemblies with the given NCBI Taxonomy ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value:
              - assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: sort.field
        in: query
        required: false
        schema:
          type: string
      - name: sort.direction
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
      - name: include_tabular_header
        description: 'Whether this request for tabular data should include the header row'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
  /genome/bioproject/{bioprojects}/dataset_report:
    get:
      summary: Get dataset reports by bioproject
      description: 'Get dataset reports by bioprojects.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_dataset_reports_by_bioproject
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      parameters:
      - name: bioprojects
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - PRJNA489243
            summary: Vertebrate Genomes Project
          example-1:
            value:
              - PRJNA31257
            summary: Human Genome Project
      - name: filters.reference_only
        description: 'If true, only return reference genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2015-01-10T00:00:00Z
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-01-10T00:00:00Z
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value:
              - GRCh38
            summary: GRCh38
          example-2:
            value:
              - C57BL/6J
            summary: C57BL/6J
      - name: filters.is_metagenome_derived
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        examples:
          example-0:
            value: metagenome_derived_exclude
            summary: Exclude metagenome derived assemblies
          example-1:
            value: metagenome_derived_only
            summary: Return only metagenome derived assemblies
      - name: filters.is_type_material
        description: 'If true, include only type materials'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type materials
          example-1:
            value: true
            summary: Only return genomes that are classified as type materials
      - name: filters.is_ictv_exemplar
        description: 'If true, include only ICTV Exemplars'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type ICTV exemplar
          example-1:
            value: true
            summary: Only return genomes that are classified as ICTV exemplar
      - name: filters.exclude_multi_isolate
        description: 'If true, exclude large multi-isolate projects'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of large multi-isolate projects
          example-1:
            value: true
            summary: Exclude genomes that are classified as large multi-isolate projects
      - name: filters.type_material_category
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        examples:
          example-0:
            value: TYPE_MATERIAL
            summary: A Type Material with no classification
          example-1:
            value: TYPE_MATERIAL_CLADE
            summary: A Type Material of the Clade classification
          example-2:
            value: TYPE_MATERIAL_NEOTYPE
            summary: A Type Material of the Neotype classification
      - name: tax_exact_match
        description: 'If true, only return assemblies with the given NCBI Taxonomy ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value:
              - assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: sort.field
        in: query
        required: false
        schema:
          type: string
      - name: sort.direction
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
      - name: include_tabular_header
        description: 'Whether this request for tabular data should include the header row'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
  /genome/biosample/{biosample_ids}/dataset_report:
    get:
      summary: Get dataset reports by biosample id
      description: 'Get dataset reports by biosample id.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_dataset_reports_by_biosample_id
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      parameters:
      - name: biosample_ids
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - SAMN15960293
            summary: BioSample Identifier
      - name: filters.reference_only
        description: 'If true, only return reference genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2015-01-10T00:00:00Z
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-01-10T00:00:00Z
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value:
              - GRCh38
            summary: GRCh38
          example-2:
            value:
              - C57BL/6J
            summary: C57BL/6J
      - name: filters.is_metagenome_derived
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        examples:
          example-0:
            value: metagenome_derived_exclude
            summary: Exclude metagenome derived assemblies
          example-1:
            value: metagenome_derived_only
            summary: Return only metagenome derived assemblies
      - name: filters.is_type_material
        description: 'If true, include only type materials'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type materials
          example-1:
            value: true
            summary: Only return genomes that are classified as type materials
      - name: filters.is_ictv_exemplar
        description: 'If true, include only ICTV Exemplars'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type ICTV exemplar
          example-1:
            value: true
            summary: Only return genomes that are classified as ICTV exemplar
      - name: filters.exclude_multi_isolate
        description: 'If true, exclude large multi-isolate projects'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of large multi-isolate projects
          example-1:
            value: true
            summary: Exclude genomes that are classified as large multi-isolate projects
      - name: filters.type_material_category
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        examples:
          example-0:
            value: TYPE_MATERIAL
            summary: A Type Material with no classification
          example-1:
            value: TYPE_MATERIAL_CLADE
            summary: A Type Material of the Clade classification
          example-2:
            value: TYPE_MATERIAL_NEOTYPE
            summary: A Type Material of the Neotype classification
      - name: tax_exact_match
        description: 'If true, only return assemblies with the given NCBI Taxonomy ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value:
              - assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: sort.field
        in: query
        required: false
        schema:
          type: string
      - name: sort.direction
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
      - name: include_tabular_header
        description: 'Whether this request for tabular data should include the header row'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
  /genome/wgs/{wgs_accessions}/dataset_report:
    get:
      summary: Get dataset reports by wgs accession
      description: 'Get dataset reports by wgs accession.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_dataset_reports_by_wgs
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      parameters:
      - name: wgs_accessions
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - JAXUCZ01
            summary: Norway rat (Rattus norvegicus) wgs accession
          example-1:
            value:
              - JAHLSK02
              - JAAKGM02
            summary: Human wgs accessions
      - name: filters.reference_only
        description: 'If true, only return reference genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2015-01-10T00:00:00Z
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-01-10T00:00:00Z
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value:
              - GRCh38
            summary: GRCh38
          example-2:
            value:
              - C57BL/6J
            summary: C57BL/6J
      - name: filters.is_metagenome_derived
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        examples:
          example-0:
            value: metagenome_derived_exclude
            summary: Exclude metagenome derived assemblies
          example-1:
            value: metagenome_derived_only
            summary: Return only metagenome derived assemblies
      - name: filters.is_type_material
        description: 'If true, include only type materials'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type materials
          example-1:
            value: true
            summary: Only return genomes that are classified as type materials
      - name: filters.is_ictv_exemplar
        description: 'If true, include only ICTV Exemplars'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type ICTV exemplar
          example-1:
            value: true
            summary: Only return genomes that are classified as ICTV exemplar
      - name: filters.exclude_multi_isolate
        description: 'If true, exclude large multi-isolate projects'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of large multi-isolate projects
          example-1:
            value: true
            summary: Exclude genomes that are classified as large multi-isolate projects
      - name: filters.type_material_category
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        examples:
          example-0:
            value: TYPE_MATERIAL
            summary: A Type Material with no classification
          example-1:
            value: TYPE_MATERIAL_CLADE
            summary: A Type Material of the Clade classification
          example-2:
            value: TYPE_MATERIAL_NEOTYPE
            summary: A Type Material of the Neotype classification
      - name: tax_exact_match
        description: 'If true, only return assemblies with the given NCBI Taxonomy ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value:
              - assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: sort.field
        in: query
        required: false
        schema:
          type: string
      - name: sort.direction
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
      - name: include_tabular_header
        description: 'Whether this request for tabular data should include the header row'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
  /genome/assembly_name/{assembly_names}/dataset_report:
    get:
      summary: Get dataset reports by assembly name (exact)
      description: 'Get dataset reports by assembly name (exact).  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_dataset_reports_by_assembly_name
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      parameters:
      - name: assembly_names
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - HanXRQr2.0-SUNRISE
            summary: Assembly name (exact)
      - name: filters.reference_only
        description: 'If true, only return reference genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to reference genomes
          example-1:
            value: false
            summary: Include reference and non-reference genomes
      - name: filters.assembly_source
        description: 'Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        examples:
          example-0:
            value: refseq
            summary: Limit to RefSeq genomes
          example-1:
            value: genbank
            summary: Limit to GenBank genomes
          example-2:
            value: all
            summary: All genomes
      - name: filters.has_annotation
        description: 'Return only annotated genome assemblies'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: true
            summary: Limit to annotated assemblies
          example-1:
            value: false
            summary: Return all assemblies
      - name: filters.exclude_paired_reports
        description: 'For paired (GCA/GCF) records, only return the primary record'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all assemblies
          example-1:
            value: true
            summary: Only return single record for GCA/GCF pairs
      - name: filters.exclude_atypical
        description: 'If true, exclude atypical genomes, i.e. genomes that have assembly issues or are otherwise atypical'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones that are atypical
          example-1:
            value: true
            summary: Only return genomes that have not been classified as atypical
      - name: filters.assembly_version
        description: 'Return all assemblies, including replaced and suppressed, or only current assemblies'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        examples:
          example-0:
            value: current
            summary: Only return current assemblies
          example-1:
            value: all_assemblies
            summary: Return all assemblies, including suppressed and replaced
      - name: filters.assembly_level
        description: 'Only return genome assemblies that have one of the specified assembly levels. By default, do not filter.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
        examples:
          example-0:
            value:
              - chromosome
              - complete_genome
            summary: Chromosome and complete genome
          example-1:
            value:
              - scaffold
              - chromosome
              - complete_genome
            summary: Scaffold and higher
      - name: filters.first_release_date
        description: 'Only return genome assemblies that were released on or after the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2015-01-10T00:00:00Z
            summary: Jan 10, 2015
      - name: filters.last_release_date
        description: 'Only return genome assemblies that were released on or before to the specified date By default, do not filter.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
        examples:
          example-0:
            value: 2021-01-10T00:00:00Z
            summary: Jan 10, 2021
      - name: filters.search_text
        description: 'Only return results whose fields contain the specified search terms in their taxon, infraspecific, assembly name or submitter fields By default, do not filter'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - Genome Reference Consortium
            summary: Genome Reference Consortium
          example-1:
            value:
              - GRCh38
            summary: GRCh38
          example-2:
            value:
              - C57BL/6J
            summary: C57BL/6J
      - name: filters.is_metagenome_derived
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        examples:
          example-0:
            value: metagenome_derived_exclude
            summary: Exclude metagenome derived assemblies
          example-1:
            value: metagenome_derived_only
            summary: Return only metagenome derived assemblies
      - name: filters.is_type_material
        description: 'If true, include only type materials'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type materials
          example-1:
            value: true
            summary: Only return genomes that are classified as type materials
      - name: filters.is_ictv_exemplar
        description: 'If true, include only ICTV Exemplars'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of type ICTV exemplar
          example-1:
            value: true
            summary: Only return genomes that are classified as ICTV exemplar
      - name: filters.exclude_multi_isolate
        description: 'If true, exclude large multi-isolate projects'
        in: query
        required: false
        schema:
          type: boolean
          default: false
        examples:
          example-0:
            value: false
            summary: Return all selected genomes, including ones of large multi-isolate projects
          example-1:
            value: true
            summary: Exclude genomes that are classified as large multi-isolate projects
      - name: filters.type_material_category
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        examples:
          example-0:
            value: TYPE_MATERIAL
            summary: A Type Material with no classification
          example-1:
            value: TYPE_MATERIAL_CLADE
            summary: A Type Material of the Clade classification
          example-2:
            value: TYPE_MATERIAL_NEOTYPE
            summary: A Type Material of the Neotype classification
      - name: tax_exact_match
        description: 'If true, only return assemblies with the given NCBI Taxonomy ID, or name. Otherwise, assemblies from taxonomy subtree are included, too.'
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assminfo-accession
              - assminfo-name
            summary: Genome Accession and Name
          example-1:
            value:
              - assminfo-accession
            summary: Just accession
      - name: returned_content
        description: 'Return either assembly accessions, or complete assembly reports'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
      - name: page_size
        description: 'The maximum number of genome assembly reports to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `AssemblyDatasetReportsRequest` call with more than `page_size` results. Use this token, along with the previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: sort.field
        in: query
        required: false
        schema:
          type: string
      - name: sort.direction
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
      - name: include_tabular_header
        description: 'Whether this request for tabular data should include the header row'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
  /genome/dataset_report:
    post:
      summary: Get dataset reports by accessions
      description: 'Get a dataset report by accession.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_dataset_report_by_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetReportsRequest'
            examples:
              Single GCF accession example:
                description: GCF Accessions (just one)
                value:
                  accessions:
                    - GCF_000001405.40
  /genome/accession/{accession}/revision_history:
    get:
      summary: Get revision history for assembly by accession
      description: 'Get revision history for assembly by accession'
      tags:
        - Genome
      operationId: assembly_revision_history_by_get
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyRevisionHistory'
      parameters:
      - name: accession
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: GCF_000001405.40
            summary: Human
  /genome/revision_history:
    post:
      summary: Get revision history for assembly by accession
      description: 'Get revision history for assembly by accession'
      tags:
        - Genome
      operationId: assembly_revision_history_by_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyRevisionHistory'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyRevisionHistoryRequest'
            examples:
              Single GCF accession example:
                description: GCF Accession (just one)
                value:
                  accession: "GCF_000001405.40"
  /genome/sequence_accession/{accession}/sequence_assemblies:
    get:
      summary: Get assembly accessions for a sequence accession
      description: 'Get assembly accessions for a sequence (nucleotide) accession'
      tags:
        - Genome
      operationId: assembly_accessions_for_sequence_accession
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyAccessions'
      parameters:
      - name: accession
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: NC_000001.11
            summary: Human chromosome accession
  /genome/sequence_assemblies:
    post:
      summary: Get assembly accessions for a sequence accession
      description: 'Get assembly accessions for a sequence (nucleotide) accession'
      tags:
        - Genome
      operationId: assembly_accessions_for_sequence_accession_by_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyAccessions'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2SequenceAccessionRequest'
            examples:
              Single chromosome accession example:
                description: Chromosome nucleotide accession
                value:
                  accession: "NC_000001.11"
  /genome/accession/{accession}/sequence_reports:
    get:
      summary: Get sequence reports by accessions
      description: 'Get a sequence report by accession.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_sequence_report
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            text/tab-separated-values:
              schema:
                type: string
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
      parameters:
      - name: accession
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: GCF_000001635.27
            summary: Mouse
          example-1:
            value: GCF_000001405.40
            summary: Human
      - name: chromosomes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - "1"
              - "2"
              - "3"
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: role_filters
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - assembled-molecule
              - unlocalized-scaffold
              - unplaced-scaffold
            summary: All types of sequence
          example-1:
            value:
              - assembled-molecule
            summary: Only assembled molecules
      - name: table_fields
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - accession
              - chr-name
            summary: Genome Accession and Chromosome Name
          example-1:
            value:
              - ucsc-style-name
            summary: UCSC Name
      - name: count_assembly_unplaced
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: page_size
        description: 'The maximum number of genome assemblies to return. Default is 20 and maximum is 1000. If the number of results exceeds the page size, `page_token` can be used to retrieve the remaining results.'
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: page_token
        description: 'A page token is returned from an `GetSequenceReports` call with more than `page_size` results. Use this token, along with the previous `AssemblyMetadataRequest` parameters, to retrieve the next page of results. When `page_token` is empty, all results have been retrieved.'
        in: query
        required: false
        schema:
          type: string
      - name: include_tabular_header
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
  /genome/sequence_reports:
    post:
      summary: Get sequence reports by accessions
      description: 'Get a sequence report by accession.  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - Genome
      operationId: genome_sequence_report_by_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            text/tab-separated-values:
              schema:
                type: string
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblySequenceReportsRequest'
            examples:
              Single GCF accession example:
                description: GCF Accession (just one)
                value:
                  accession: "GCF_000001405.40"
  /genome/accession/{accessions}/links:
    get:
      summary: Get assembly links by accessions
      description: 'Get links to available assembly resources by accessions.'
      tags:
        - Genome
      operationId: genome_links_by_accession
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyLinksReply'
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions, limited to 1000'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
            summary: Human
          example-1:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
  /genome/links:
    post:
      summary: Get assembly links by accessions
      description: 'Get links to available assembly resources by accessions.'
      tags:
        - Genome
      operationId: genome_links_by_accession_by_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyLinksReply'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyLinksRequest'
            examples:
              Single GCF accession example:
                description: GCF Accessions (just one)
                value:
                  accessions:
                    - GCF_000001405.40
  /genome/taxon/{species_taxon}/checkm_histogram:
    get:
      summary: Get CheckM histogram by species taxon
      description: 'Get CheckM histogram by species taxon. CheckM histograms are only available for certain bacterial species.'
      tags:
        - Genome
      operationId: checkm_histogram_by_taxon
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyCheckMHistogramReply'
      parameters:
      - name: species_taxon
        in: path
        required: true
        schema:
          type: string
        examples:
          example-0:
            value: "202956"
            summary: Acinetobacter towneri
  /genome/checkm_histogram:
    post:
      summary: Get CheckM histogram by species taxon
      description: 'Get CheckM histogram by species taxon. CheckM histograms are only available for certain bacterial species.'
      tags:
        - Genome
      operationId: checkm_histogram_by_taxon_by_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyCheckMHistogramReply'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyCheckMHistogramRequest'
            examples:
              Single TaxID example:
                description: TaxID example (just one)
                value:
                  species_taxon: "202956"
  /biosample/accession/{accessions}/biosample_report:
    get:
      summary: Get BioSample dataset reports by accession(s)
      description: 'Get BioSample dataset reports by accession(s).  By default, in paged JSON format, but also available as tabular (accept: text/tab-separated-values) or json-lines (accept: application/x-ndjson)'
      tags:
        - BioSample
      operationId: BioSample_dataset_report
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsBioSampleDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsBioSampleDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
      parameters:
      - name: accessions
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - SAMN15960293
            summary: BioSample Identifier
  /genome/accession/{accessions}/download:
    get:
      summary: Get a genome dataset by accession
      description: 'Download a genome dataset including fasta sequence, annotation and a detailed data report by accession.'
      tags:
        - Genome
      operationId: download_assembly_package
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
      parameters:
      - name: accessions
        description: 'NCBI genome assembly accessions'
        in: path
        required: true
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - GCF_000001405.40
            summary: Human
          example-1:
            value:
              - GCF_000001405.40
              - GCF_000001635.27
            summary: Human and Mouse
      - name: chromosomes
        description: 'The default setting is all chromosome. Specify individual chromosome by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated like their own chromosome (''Un''). The filter only applies to fasta sequence.'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - "1"
              - "2"
              - "3"
              - X
              - Y
              - MT
            summary: Selected chromosomes #1
          example-1:
            value:
              - X
              - Y
            summary: Human sex chromosomes
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2AnnotationForAssemblyType'
        examples:
          example-0:
            value:
              - GENOME_FASTA
              - PROT_FASTA
              - RNA_FASTA
            summary: Genomic, Transcript & Protein Sequence
          example-1:
            value:
              - GENOME_GFF
              - GENOME_GBFF
              - GENOME_GTF
              - PROT_FASTA
              - RNA_FASTA
              - CDS_FASTA
              - SEQUENCE_REPORT
            summary: All
      - name: hydrated
        description: 'Set to DATA_REPORT_ONLY, to only retrieve data-reports.'
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetRequestResolution'
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /genome/download:
    post:
      summary: Get a genome dataset by post
      description: 'The ''GET'' version of download is limited by the size of the GET URL (2KB, which works out to about 140 genomic accessions).  The POST operation is provided to allow users to supply a larger number of accessions in a single request.'
      tags:
        - Genome
      operationId: download_assembly_package_post
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetRequest'
            examples:
              Single GCF accession example:
                description: GCF Accession (just one)
                value:
                  accessions:
                  - GCF_000001405.40
      parameters:
      - name: filename
        description: Output file name.
        in: query
        required: false
        schema:
          type: string
          default: ncbi_dataset.zip
  /gene/id/{gene_ids}/download:
    get:
      summary: Get a gene dataset by gene ID
      description: 'Get a gene dataset including gene, transcript and protein fasta sequence, annotation and metadata by gene ID.'
      tags:
        - Gene
      operationId: download_gene_package
      responses:
        default:
          description: An unexpected error response.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '200':
          description: A successful response
          content:
            application/zip:
              schema:
                format: binary
                type: string
                description: Zip compressed stream
      parameters:
      - name: gene_ids
        description: 'NCBI gene ids'
        in: path
        required: true
        schema:
          type: array
          items:
            type: integer
        examples:
          example-0:
            value:
              - 59067
            summary: IL21 GeneID
          example-1:
            value:
              - 59067
              - 50615
            summary: IL21 & IL21R GeneIDs
      - name: include_annotation_type
        description: 'Select additional types of annotation to include in the data package.  If unset, no annotation is provided.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2Fasta'
      - name: fasta_filter
        description: 'Limit the FASTA sequences in the datasets package to these transcript and protein accessions (deprecated)'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: accession_filter
        description: 'Limit the FASTA sequences and tabular product report in the datasets package to these transcript and protein accessions'
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        examples:
          example-0:
            value:
              - NM_001408458.1
              - NM_001407959.1
            summary: Selected transcripts from BRCA1
      - name: aux_report
        description: 'list additional reports to include with download. Data report is included by default.'
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2GeneDatasetRequestGeneDatasetReportType'
        examples:
          example-0:
            value:
              - PRODUCT_REPORT
            summary: Select additional report types to include with download. The base data report will always be included.
      - name: tabular_reports
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/v2GeneDatasetRequestGeneDatasetReportType'
        examples:
          example-0:
            value:
              - DATASET_REPORT
              - PRODUCT_REPORT
            summary: Select tabular files to include. These tabular files will use the 'summary' templates in dataformat.
      - name: table_fields
[...]
